<div class="row">
	<div class="column small-12 medium-9">
		<%= render 'jobs/results/molecules/atoms/job_title' %>
		<ul class="inline-list">
			<li>
				<%= render 'jobs/results/molecules/atoms/company_name' %>
			</li>
			<li>
				<%= render 'jobs/results/molecules/atoms/location' %>
			</li>
		</ul>
		<%= render 'jobs/results/molecules/result_actions', count: count %>
	</div>
	<div class="column small-12 medium-3 text-right">
		<%= render 'jobs/results/molecules/atoms/date_posted_hours' %>
	</div>
</div>