<div class="row">
	<div class="column small-3 medium-2">
		<%= render 'jobs/results/molecules/atoms/quick_apply_button' %>
	</div>
	<div class="column small-10 large-4">
		<%= render 'jobs/results/molecules/job_title_with_snapshot' %>
		<%= render 'jobs/results/molecules/result_actions', count: count %>
	</div>
	<div class="column small-10 large-2">
		<%= render 'jobs/results/molecules/atoms/company_name' %>
	</div>
	<div class="column small-10 large-2">
		<%= render 'jobs/results/molecules/location_with_collapse' %>
	</div>
	<div class="column small-10 large-2">
		<%= render 'jobs/results/molecules/atoms/date_posted_hours' %>
	</div>
</div>