<!--header-->
<div class="row">
<% #if params[:action] == "resumerecs" %>
    <!-- <div class="small-12 medium-12 large-6 columns"> -->
        <!-- <h1> Job Recommendations</h1> -->
        <!-- <p class="instructions">Quick Apply allows a one-click application using your resume [resume name]</p> -->
        <!-- <input id="quickapplyon" type="checkbox"><label for="quickapplyon">Show only job with Quick Apply</label> -->

    <!-- </div> -->

    <% #end %>

<!-- resume recommendations header -->


    <div class="small-12 medium-12 large-6 columns">
        <h1> Job Recommendations</h1>
        <p>50 jobs found</p>
        <p class="instructions">Your recommendations are based on your resume, job applications, and/or location.</p>
    </div>
</div>



<!--similar job recs header-->
<% if params[:action] == "similarjobs" %>

    <div class="small-12 medium-12 large-6 columns">
        <h1> Similar Job Recommendations</h1>
        <p>50 jobs found</p>
        <p class="instructions">Showing jobs similar to Senior Software Engineer / Core Java / 120-130K</p>
    </div><!--close column-->

<% end %>

<% if session[:auth] == "unknown" %>

    <div class="row">

        <div class="small-12 medium-12 large-12 columns">
            <p>To start getting recommendations, apply for a job or sign-in.</p>
            <a href="#" class="button">Start a job search</a>
        </div><!-- close column -->

    </div><!-- close row -->

    <%= render :partial => 'user/sign_in_form_new' %>

<% end %>

<% if params[:result] == "zero" %>

<div class="row">

    <div class="small-12 medium-12 large-6 columns">
        <p>0 jobs found</p>
    </div><!--close column-->

</div><!--close row-->

<div class="row">

    <div class="small-12 medium-12 large-6 columns">
        <h2>What recommendations would you like to see?</h2>
        <p>You can always change these later in your recommendation preferences</p>

        <form>
            <label>Desired Job Title
                <input type="text" placeholder="" />
            </label>
            <label>Location
                <input type="text" placeholder="" />
            </label>
                <input id="jobalertcheck" type="checkbox"><label for="jobalertcheck">Create Job Alert</label><br />
                <a href="#" class="button">Get Job Recommendations</a>
        </form>

    </div><!-- close columns  -->

</div><!-- close row -->

<% end %><!-- close no results param-->

<% if session[:auth] == "known" || session[:auth] === "authenticated" %>

</div><!--close row-->

<!--Recommendations preferences-->

<div class="row">

    <div class="large-3 columns show-for-large-up">
            <h5> Recommendation Preferences</h5>
            <ul class="side-nav">
                <li><label>Desired Locations</label></li>
                <li class="row new-location-row hidden"><a href="#" class="small-9 columns">NewLocation, USA</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row rec-row1"><a class="small-9 columns">Atlanta, GA</a><a class="small-1 columns delete-rec1"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Phoenix, AZ</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                    <li class="row">
                          <div class="row collapse">
                            <div class="small-9 columns">
                              <input type="text" placeholder="Desired Location">
                            </div>
                            <div class="small-3 columns">
                              <a class="button postfix save-location">Save</a>
                            </div>
                          </div>
                    </li><!--close row-->
                <li class="divider"></li>
                <!--desired job title section-->
                <li class="row"><label>Desired Job Title</label></li>
                <li class="row new-title-row hidden"><a href="#" class="small-9 columns">New Job Title</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row rec-row2"><a href="#" class="small-9 columns">Customer Service</a><a class="small-1 columns delete-rec2" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Sales Associate</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Sales Manager</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                    <li class="row">
                          <div class="row collapse">
                            <div class="small-9 columns">
                              <input type="text" placeholder="Desired Job Title">
                            </div>
                            <div class="small-3 columns">
                              <a class="button postfix save-title">Save</a>
                            </div>
                          </div>
                    </li><!--close row-->
                <li class="divider"></li>

                <li><label>Skills</label></li>
                <li class="row new-skill-row hidden"><a href="#" class="small-9 columns">New Skill</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Sales</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Client Relations</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Marketing</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Excel</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row skill-replace"><a href="#" class="small-9 columns">Salesforce</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row view-more-prefs1"><a class="small-9 columns">View 3 More</a><a class="small-1 columns" href=""><i class="fa fa-chevron-down"></i></i></a></li>
                <li class="row hidden add-more-skill"><a href="#" class="small-9 columns">Word</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row hidden add-more-skill"><a href="#" class="small-9 columns">Inside Sales</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row hidden add-more-skill"><a href="#" class="small-9 columns">Marketing</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row hidden view-less-prefs1"><a class="small-9 columns">Show Less Skills</a><a class="small-1 columns" href="#"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="row">
                          <div class="row collapse">
                            <div class="small-9 columns">
                              <input type="text" placeholder="Skill">
                            </div>
                            <div class="small-3 columns">
                              <a class="button postfix save-skill">Save</a>
                            </div>
                          </div>
                    </li><!--close row-->
                <li class="divider"></li>

                <li><label>Application History</label></li>
                <li class="row"><a href="#" class="small-9 columns">Sales Associate</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Client Relationship Manager</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Marketing Analyst</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Lead Generation</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row"><a href="#" class="small-9 columns">Salesforce Analyst</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row view-more-prefs2"><a class="small-9 columns">View 3 More</a><a class="small-1 columns" href="#"><i class="fa fa-chevron-down"></i></i></a></li>
                <li class="row hidden add-more-history"><a href="#" class="small-9 columns">Client Advocate</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row hidden add-more-history"><a href="#" class="small-9 columns">Technical Support</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row hidden add-more-history"><a href="#" class="small-9 columns">Marketing Trainer</a><a class="small-1 columns" href="#"><i class="fa fa-times"></i></a></li>
                <li class="row hidden view-less-prefs2"><a class="small-9 columns">Show Less History</a><a class="small-1 columns" href="#"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
    </div><!--close column-->

<!--start right column sort and results-->

<!--rec preferences button for mobile version-->
    <div class="small-12 columns hide-for-medium-up">
        <a href="recprefs" class="button expand">Edit Recommendations</a>
    </div>

    <div class="medium-6 columns show-for-medium-only">
        <a href="recprefs" class="button ">Edit Recommendations</a>
    </div>

<!--collapse sort to dropdown on mobile-->
    <div class="small-12 medium-12 hide-for-large-up">
        <button href="#" data-dropdown="mobilesort" aria-controls="mobilesort" aria-expanded="false" class="button dropdown secondary right">Recommended</button><br>
            <ul id="mobilesort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">Date</a></li>
                <li><a href="#">Location</a></li>
            </ul>
    </div><!--end show for small only-->

<!--start sort-->
  <div class="medium-8 right columns show-for-large-up">
    <dl class="sub-nav right">
      <dt>Sort By:</dt>
        <dd class=<%= @sort_relevance %>>
            <%= link_to "Relevance", params.merge(:sort => "relevance").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_location %>>
            <%= link_to "Location", params.merge(:sort => "location").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_date %>>
            <%= link_to "Date", params.merge(:sort => "date").except(:action, :controller) %>
        </dd>
      </dl>
    </div><!--close columns-->

    <!--job result-->
  <div class="small-12 medium-12 large-9 columns">
    <% if params[:results].to_i > 0  %>
        <% params[:results].to_i.times do |i| %>
            <%= render 'jobs/job_result', count: i %>
      <% end %>
    <% end %>
  </div><!--close columns-->

</div><!--close row for filters and result-->

<%= render :partial => 'jobs/pagination' %>

<% end %><!--end query param for known and authenticated-->
