<% if params[:action] == "after_apply" %>
	<% job_columns = "columns small-10 large-4" %>
	<% company_columns = "small-10 large-2 columns" %>
	<% location_columns = "small-10 large-2 columns" %>
	<% date_columns = "small-10 large-2 columns" %>
<% elsif params[:action] == "resumerecs" %>
  <% job_columns = "columns small-10 medium-5 large-5" %>
  <% company_columns = "small-10 medium-2 large-2 columns" %>
  <% location_columns = "small-10 medium-2 large-2 columns" %>
  <% date_columns = "small-10 medium-1 large-1 columns" %>
<% else %>
	<% job_columns = "columns small-12 medium-6 large-6" %>
	<% company_columns = "small-12 medium-2 large-2 columns" %>
	<% location_columns = "small-12 medium-2 large-2 columns" %>
	<% date_columns = "small-12 medium-2 large-2 columns" %>
<% end %>

	<!-- QUICK APPLY FOR AFTER APPLY -->
	<% if params[:action] == "after_apply" %>
		<div class="small-3 medium-2 large-2 columns">
			<a href="#" class="button">Quick Apply</a>
	  </div>
	<% end %>

  <!--QUICK APPLY FOR RESUME RECS -->
  <% if params[:action] == "resumerecs" %>
    <div class="small-3 medium-2 large-2 columns">
      <a href="#" class="button">Quick Apply</a>
    </div>
  <% end %>

  <div class='<%= job_columns %>' >
    <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive", jobs_jdp_path %></h2>
    <% if params[:action] != "after_apply" %>
	    <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
      <ul class="inline-list show-for-large-up">
        <% if @auth == "authenticated" %>
        <li>
          <% if params[:action] != "job_saved" %>
          <a href="jobs/job_saved" id="job_saved_btn">Save Job</a></li>
          <% elsif %>
          <a id="job_saved_btn">Job Saved</a></li>
          <% end %>
        <% end %>
        <li><a class='email-drawer-link'>Email Job</a>
                  <div class="hidden email-drawer">
                      <div class="small-12 medium-12 large-12 columns">
                        <label>From (Your Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>To (Recipients Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>Your Name
                        <input type="text" placeholder="" />
                        </label>
                        <label>Notes
                        <textarea placeholder=""></textarea>
                        </label>
                        <p>140 Characters Left</p>
                        <a href="jobs/job_emailed" class="button small closedrawer">Send Email</a>
                        <a href="#" class="button secondary small closedrawer">Cancel</a>
                      </div>
                  </div>
            </li>
      </ul>
    <% end %>
  </div>

  <div class='<%= company_columns %>'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='<%= location_columns %>'>
    <p>GA-Atlanta
    	<% if params[:action] != "after_apply" %>
        <br /><a href="job_collapse"> + View 2 more</a>
    	<% end %>
    </p>
  </div>
  <div class='<%= date_columns %>'>
    <p>1 Hour Ago</p>
  </div>
  <hr />

