<!--header-->
<div class="row">
  <div class="small-12 large-7 columns">
      <h1> Sales Representative Jobs in Atlanta, GA</h1>
        <p>100 jobs found&nbsp;&nbsp;&nbsp;&nbsp;<a>Save Search</a></p>
  </div><!--close column-->

  <!--job alert-->
  <% if params[:action] != "after_apply" %>
      <% if params[:auth] == "unknown" %>
         <div class="medium-6 large-4 right columns hide-for-small-only">
                    <p class="emailalerttext"><i class="fa fa-envelope-o">&nbsp;&nbsp;</i>Email Jobs like this to me</p>
                            <div class="row collapse">
                              <div class="alertinputwrap">
                              <div class="small-8 medium-7 large-8 columns">
                                <label>Your Email
                                <input type="text" placeholder="">
                              </label>
                              </div>
                              <div class="small-4 medium-5 large-4 columns">
                                <label>
                              <a href="#" class="button postfix unauthalertbtn">Create Alert</a>
                            </label>
                               </div>
                               </div
                            </div>
                      </div>
          </div>
      <% else %>
      <div class="small-12 large-2 right columns hide-for-small-only">
      <a href="#" class="button secondary small" id="job_alert_btn" class="job-alert-drawer-link">Create Job Alert</a>
      </div>
      <% end %>
      <% end %>
</div>

<!--start sort larger devices-->
<div class="row">
  <div class="medium-8 right columns show-for-medium-up">
    <dl class="sub-nav right">
      <dt>Sort By:</dt>
        <dd class=<%= @sort_relevance %>>
        	<%= link_to "Relevance", params.merge(:sort => "relevance").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_date %>>
        	<%= link_to "Date", params.merge(:sort => "date").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_location %>>
        	<%= link_to "Location", params.merge(:sort => "location").except(:action, :controller) %>
        </dd>
      </dl>
  </div>


<!--filter button for mobile only-->
  <div class="small-4 medium-2 columns hide-for-large-up">
    <a href="jobs/mobile_filters" class="button secondary expand">Filter</a>
  </div>

  <!--start sort small devices-->
  <div class="small-5 medium-3 right hide-for-medium-up">
        <select>
          <option checked value="husker">Relevance</option>
          <option value="starbuck">Date</option>
          <option value="hotdog">Location</option>
        </select>
  </div>
</div>

<!--filters-->
<div class="row">
  <div class="large-3 columns show-for-large-up">
  	<h4>Filter By</h4>
    <!--Distance from you-->
    <%= render 'distance_within_filter' %>
		<!--Date Posted-->
    <!-- TODO Style this radio list to our tag/radio list-->
    <%= render 'date_posted_filter' %>
    <!--Job Type-->
		<%= render 'job_type_filter' %>
		<!--Salary-->
		<%= render 'salary_range_filter' %>
    <!--Location (City/State)-->
    <%= render 'location_filter' %>
    <!--Job Level-->
    <%= render 'job_level_filters' %>
		<!--Job Category-->
    <%= render 'shared/multiselect_field', multiselect_label: "Job Categories", multiselect_id: "job-category-filter", hash_for_options: @job_category_filters %>
    <!--Skills-->
    <%= render 'shared/multiselect_field', multiselect_label: "Skills", multiselect_id: "skills-filter", hash_for_options: @skills_filters %>
		<!--Degree Required-->
    <% render 'degree_required_filter' %>
    <% render 'shared/multiselect_field', multiselect_label: "Degree Required", multiselect_id: "degree-required-filter", hash_for_options: @degree_requirements_filters %>

    <div class="hide-for-small-only">
      <img src="http://placehold.it/160x600&text=Ad+160+x+600" alt="in-line ad">
    </div>
</div>

	

	<!--job result-->
  <div class="small-12 large-9 columns refresh">
    <%= render 'job_result' %>
    <%= render 'job_result' %>
    <%= render 'job_result' %>
    <%= render 'job_result' %>
    <div class="hide-for-small-only">
      <img src="http://placehold.it/728x90&text=Ad+728+x+90" alt="in-line ad">
      <hr />
    </div>
  	<% if params[:results].to_i > 0 %>
  		<% params[:results].to_i.times do %>
  			<%= render 'job_result' %>
      <% end %>
    <% end %>
    <%= render 'company_search_result' %>
  </div>

  </div>
  <div class="row">
<%= render 'pagination' %>
</div>
