<!--header-->
<div class="row">
  <div class="small-12 large-7 columns">
      <h1> Sales Representative Jobs in Atlanta, GA</h1>
  </div><!--close column-->
  <div class="small-12 large-2 columns">
      <p>1,356 jobs found</p>
  </div><!--close column-->
  <div class="small-12 large-3 right columns hide-for-small-only">
      <a href="#" class="button secondary">Create Job Alert</a>
  </div>
</div>
<!--start sort larger devices-->
<div class="row">
  <div class="medium-5 right columns show-for-large-up">
    <dl class="sub-nav">
      <dt>Sort By:</dt>
        <dd class=<%= @sort_relevance %>>
        	<%= link_to "Relevance", jobs_path(params.merge(:sort => "relevance").except(:action, :controller)) %>
        </dd>
        <dd class=<%= @sort_date %>>
        	<%= link_to "Date", jobs_path(params.merge(:sort => "date").except(:action, :controller)) %>
        </dd>
        <dd class=<%= @sort_location %>>
        	<%= link_to "Location", jobs_path(params.merge(:sort => "location").except(:action, :controller)) %>
        </dd>
      </dl>
  </div>
</div>

<!--filter button for mobile only-->
<div class="small-4 columns hide-for-large-up">
  <a href="#" class="button secondary">Filter</a>
</div>

<!--start sort small devices-->
<div class="small-10 hide-for-large-up">
  <button href="#" data-dropdown="mobilesort" aria-controls="mobilesort" aria-expanded="false" class="button dropdown secondary">Relevance</button>
  <br>
  <ul id="mobilesort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
    <li><a href='#'>Relevance</a></li>
    <li><a href="#">Date</a></li>
    <li><a href="#">Location</a></li>
  </ul>
</div>

<!--filters-->
<div class="row">
  <div class="large-3 columns show-for-large-up">
  	<h4>Refine By</h4>
    <!--Distance from you-->
    <%= render 'distance_within_filter' %>
		<!--Date Posted-->
    <!-- TODO Style this radio list to our tag/radio list-->
    <%= render 'date_posted_filter' %>
    <!--Job Type-->
		<%= render 'job_type_filter' %>
		<!--Salary-->
		<div class="row">
			<div class="column small-12">
		    <label>Salary</label>
		    <input type="text" placeholder="Minimum Salary" />
		    <input type="text" placeholder="Maximum Salary" />
			</div>
		</div>
		<!--Job Category-->
    <!-- TODO Multiselect-->
    <%= render 'shared/multiselect_field', multiselect_label: "Select a Category", multiselect_id: "job-category-filter", hash_for_options: @job_category_filters %>
		<!--Degree Required-->
    <!-- TODO Multiselect-->
    <%= render 'degree_required_filter' %>
    <%= render 'shared/multiselect_field', multiselect_label: "Degree Required", multiselect_id: "degree-required-filter", hash_for_options: @degree_requirements_filters %>
  </div>
	

	<!--job result-->
  <div class="small-12 large-9 columns">
  	<% if params[:results].to_i > 0 %>
  		<% params[:results].to_i.times do %>
  			<%= render 'job_result' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'pagination' %>
