<!--header-->
<div class="row">





<!--filter button for mobile only-->
  <div class="small-4 medium-2 columns hide-for-large-up">
    <a href="jobs/mobile_filters" class="button secondary expand">Filter</a>
  </div>

  <!--start sort small devices-->
  <div class="small-5 medium-3 right hide-for-medium-up">
        <select>
          <option checked value="husker">Relevance</option>
          <option value="starbuck">Date</option>
          <option value="hotdog">Location</option>
        </select>
  </div>
</div>

<!--filters-->
<div class="row">
  <div class="large-3 columns show-for-large-up">

      <div class="show-for-medium-up">
      <button href="#" data-dropdown="jobalertdrop" aria-controls="jobalertdrop" aria-expanded="false" id="job-alert-btn" class="button secondary">Create Job Alert</button><br>
      <div id="jobalertdrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
          <div class="medium-12 columns">
          <p class="emailalerttext"><i class="fa fa-envelope-o">&nbsp;&nbsp;</i>Be the first to hear about new jobs like these</p>
          <p>Sales Representative Jobs in Atlanta, GA</a>
                        <% if session[:auth] == "authenticated" %>
                          <label>Your Email
                          <input type="text" placeholder="prepopulatedemail@gmail.com">
                          </label>
                        <% else %>
                          <label>Your Email
                          <input type="text" placeholder="">
                          </label>
                        <% end %>
                          <label>
                            <a class="button postfix unauthalertbtn" id="job_alert_btn create-alert-dropdown">Create Job Alert</a>
                          </label>
                          <p>You can cancel job alerts anytime</p>
          </div>
      </div>
      </div>

  	<h4>Filter By</h4>
    <!--Distance from you-->
    <%= render 'distance_within_filter' %>
		<!--Date Posted-->
    <!-- TODO Style this radio list to our tag/radio list-->
    <%= render 'date_posted_filter' %>
    <!--Job Type-->
		<%= render 'job_type_filter' %>
		<!--Salary-->
		<%= render 'salary_range_filter' %>
    <!--Location (City/State)-->
    <%= render 'location_filter' %>
    <!--Job Level-->
    <%= render 'job_level_filters' %>
		<!--Job Category-->
    <%= render 'shared/multiselect_field', multiselect_label: "Job Categories", multiselect_id: "job-category-filter", hash_for_options: @job_category_filters %>
    <!--Skills-->
    <%= render 'shared/multiselect_field', multiselect_label: "Skills", multiselect_id: "skills-filter", hash_for_options: @skills_filters %>
		<!--Degree Required-->
    <% render 'degree_required_filter' %>
    <% render 'shared/multiselect_field', multiselect_label: "Degree Required", multiselect_id: "degree-required-filter", hash_for_options: @degree_requirements_filters %>

    <div class="hide-for-small-only">
      <img src="http://placehold.it/160x600&text=Ad+160+x+600" alt="in-line ad">
    </div>
</div>

<!--JOB HEADER-->
  <div class="small-12 large-7 columns">
      <h1> Sales Representative Jobs in Atlanta, GA</h1>
        <p>2,567 jobs found</p>
  </div><!--close column-->

<!--start sort larger devices-->
  <div class="medium-8 right columns show-for-medium-up">
    <dl class="sub-nav right">
      <dt>Sort By:</dt>
        <dd class=<%= @sort_relevance %>>
          <%= link_to "Relevance", params.merge(:sort => "relevance").except(:action, :controller) %>
        </dd>
          <dd class=<%= @sort_location %>>
          <%= link_to "Location", params.merge(:sort => "location").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_date %>>
          <%= link_to "Date", params.merge(:sort => "date").except(:action, :controller) %>
        </dd>
    </dl>
  </div>

<!--job result-->
<div class="small-12 large-9 columns refresh">
    <p id="spinner">
      <span class="fa fa-spinner fa-spin" style="font-sie: 60px;"></span>
    </p>
  <div class="row" id="gs-job-results">
    <% if params[:keyword] == "careerbuilder" %>
      <%= render 'company_search_result' %>
    <% end %>

<!--JOB RESULT PREMIUM-->
<% if params[:action] == "after_apply" %>
  <% job_columns = "columns small-10 large-4" %>
  <% company_columns = "small-10 large-2 columns" %>
  <% location_columns = "small-10 large-2 columns" %>
  <% date_columns = "small-10 large-2 columns" %>
<% elsif params[:action] == "resumerecs" %>
  <% job_columns = "columns small-10 medium-5 large-5" %>
  <% company_columns = "small-10 medium-2 large-2 columns" %>
  <% location_columns = "small-10 medium-2 large-2 columns" %>
  <% date_columns = "small-10 medium-1 large-1 columns" %>
<% else %>
  <% job_columns = "columns small-12 medium-6 large-6" %>
  <% company_columns = "small-12 medium-2 large-2 columns" %>
  <% location_columns = "small-12 medium-2 large-2 columns" %>
  <% date_columns = "small-12 medium-2 large-2 columns" %>
<% end %>
  <div class='columns small-10 large-6' >
    <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive - PREMIUM", jobs_jdp_path(branding:"premium") %></h2>
  </div>

  <div class='<%= company_columns %>'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='<%= location_columns %>'>
    <p class="right">Atlanta, Georgia
    </p>
  </div>
  <div class='<%= date_columns %>'>
    <p class="right">1 Hour Ago</p>
  </div>
  <div class="large-12 small-12 columns">
    <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
  </div>
  <div class="large-12 columns">
    <ul class="inline-list show-for-large-up">
        <% if session[:auth] == "authenticated" %>
          <li>
            <a class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg" id="job_saved_btn"><i class="fa fa-star-o"></i>&nbsp;Save Job</a>
            <a  class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg"  id="job_saved_msg" style="display:none"><i class="fa fa-star"></i>&nbsp;Job Saved</a>
          </li>
        <li><a href="" data-dropdown="emaildrop" aria-controls="emaildrop" aria-expanded="false"><i class="fa fa-envelope-o"></i>&nbsp;Email Job</a><li>
            <div class="show-for-medium-up">
              <div id="emaildrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                  <div class="medium-12 columns">
                          <% if session[:auth] == "authenticated" %>
                          <h4>Email This Job</h4>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="prepopulatedemail@gmail.com" />
                          </label>
                          <% else %>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>To (Recipients Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% if session[:auth] == "authenticated" %>
                          <label>Your Name
                          <input type="text" placeholder="Prepopulated Name" />
                          </label>
                          <% else %>
                          <label>Your Name
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>Notes
                          <textarea placeholder=""></textarea>
                          </label>
                          <p>140 Characters Left</p>
                          <%= link_to "Send Email", url_for(status: "email_sent", success: "true"), class: "button expand" %>
                          <a class="button secondary expand">Cancel</a>
                  </div>
              </div>
            </div>
      </li>
    <% end %>
  </ul>
</div>
<hr />

<!--JOB RESULT STANDARD-->
<% if params[:action] == "after_apply" %>
  <% job_columns = "columns small-10 large-4" %>
  <% company_columns = "small-10 large-2 columns" %>
  <% location_columns = "small-10 large-2 columns" %>
  <% date_columns = "small-10 large-2 columns" %>
<% elsif params[:action] == "resumerecs" %>
  <% job_columns = "columns small-10 medium-5 large-5" %>
  <% company_columns = "small-10 medium-2 large-2 columns" %>
  <% location_columns = "small-10 medium-2 large-2 columns" %>
  <% date_columns = "small-10 medium-1 large-1 columns" %>
<% else %>
  <% job_columns = "columns small-12 medium-6 large-6" %>
  <% company_columns = "small-12 medium-2 large-2 columns" %>
  <% location_columns = "small-12 medium-2 large-2 columns" %>
  <% date_columns = "small-12 medium-2 large-2 columns" %>
<% end %>
  <div class='columns small-10 large-6' >
    <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive - STANDARD", jobs_jdp_path(branding:"standard") %></h2>
  </div>

  <div class='<%= company_columns %>'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='<%= location_columns %>'>
    <p class="right">Atlanta, Georgia
    </p>
  </div>
  <div class='<%= date_columns %>'>
    <p class="right">1 Hour Ago</p>
  </div>
  <div class="large-12 small-12 columns">
    <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
  </div>
  <div class="large-12 columns">
    <ul class="inline-list show-for-large-up">
        <% if session[:auth] == "authenticated" %>
          <li>
            <a class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg" id="job_saved_btn"><i class="fa fa-star-o"></i>&nbsp;Save Job</a>
            <a  class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg"  id="job_saved_msg" style="display:none"><i class="fa fa-star"></i>&nbsp;Job Saved</a>
          </li>
        <li><a href="" data-dropdown="emaildrop" aria-controls="emaildrop" aria-expanded="false"><i class="fa fa-envelope-o"></i>&nbsp;Email Job</a><li>
            <div class="show-for-medium-up">
              <div id="emaildrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                  <div class="medium-12 columns">
                          <% if session[:auth] == "authenticated" %>
                          <h4>Email This Job</h4>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="prepopulatedemail@gmail.com" />
                          </label>
                          <% else %>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>To (Recipients Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% if session[:auth] == "authenticated" %>
                          <label>Your Name
                          <input type="text" placeholder="Prepopulated Name" />
                          </label>
                          <% else %>
                          <label>Your Name
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>Notes
                          <textarea placeholder=""></textarea>
                          </label>
                          <p>140 Characters Left</p>
                          <%= link_to "Send Email", url_for(status: "email_sent", success: "true"), class: "button expand" %>
                          <a class="button secondary expand">Cancel</a>
                  </div>
              </div>
            </div>
      </li>
    <% end %>
  </ul>
</div>
<hr />

<!--JOB RESULT BASIC-->
<% if params[:action] == "after_apply" %>
  <% job_columns = "columns small-10 large-4" %>
  <% company_columns = "small-10 large-2 columns" %>
  <% location_columns = "small-10 large-2 columns" %>
  <% date_columns = "small-10 large-2 columns" %>
<% elsif params[:action] == "resumerecs" %>
  <% job_columns = "columns small-10 medium-5 large-5" %>
  <% company_columns = "small-10 medium-2 large-2 columns" %>
  <% location_columns = "small-10 medium-2 large-2 columns" %>
  <% date_columns = "small-10 medium-1 large-1 columns" %>
<% else %>
  <% job_columns = "columns small-12 medium-6 large-6" %>
  <% company_columns = "small-12 medium-2 large-2 columns" %>
  <% location_columns = "small-12 medium-2 large-2 columns" %>
  <% date_columns = "small-12 medium-2 large-2 columns" %>
<% end %>
  <div class='columns small-10 large-6' >
    <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive - BASIC", jobs_jdp_path(branding:"basic") %></h2>
  </div>

  <div class='<%= company_columns %>'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='<%= location_columns %>'>
    <p class="right">Atlanta, Georgia
    </p>
  </div>
  <div class='<%= date_columns %>'>
    <p class="right">1 Hour Ago</p>
  </div>
  <div class="large-12 small-12 columns">
    <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
  </div>
  <div class="large-12 columns">
    <ul class="inline-list show-for-large-up">
        <% if session[:auth] == "authenticated" %>
          <li>
            <a class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg" id="job_saved_btn"><i class="fa fa-star-o"></i>&nbsp;Save Job</a>
            <a  class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg"  id="job_saved_msg" style="display:none"><i class="fa fa-star"></i>&nbsp;Job Saved</a>
          </li>
        <li><a href="" data-dropdown="emaildrop" aria-controls="emaildrop" aria-expanded="false"><i class="fa fa-envelope-o"></i>&nbsp;Email Job</a><li>
            <div class="show-for-medium-up">
              <div id="emaildrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                  <div class="medium-12 columns">
                          <% if session[:auth] == "authenticated" %>
                          <h4>Email This Job</h4>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="prepopulatedemail@gmail.com" />
                          </label>
                          <% else %>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>To (Recipients Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% if session[:auth] == "authenticated" %>
                          <label>Your Name
                          <input type="text" placeholder="Prepopulated Name" />
                          </label>
                          <% else %>
                          <label>Your Name
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>Notes
                          <textarea placeholder=""></textarea>
                          </label>
                          <p>140 Characters Left</p>
                          <%= link_to "Send Email", url_for(status: "email_sent", success: "true"), class: "button expand" %>
                          <a class="button secondary expand">Cancel</a>
                  </div>
              </div>
            </div>
      </li>
    <% end %>
  </ul>
</div>
<hr />

<!--JOB RESULT NON_BRANDED-->
<% if params[:action] == "after_apply" %>
  <% job_columns = "columns small-10 large-4" %>
  <% company_columns = "small-10 large-2 columns" %>
  <% location_columns = "small-10 large-2 columns" %>
  <% date_columns = "small-10 large-2 columns" %>
<% elsif params[:action] == "resumerecs" %>
  <% job_columns = "columns small-10 medium-5 large-5" %>
  <% company_columns = "small-10 medium-2 large-2 columns" %>
  <% location_columns = "small-10 medium-2 large-2 columns" %>
  <% date_columns = "small-10 medium-1 large-1 columns" %>
<% else %>
  <% job_columns = "columns small-12 medium-6 large-6" %>
  <% company_columns = "small-12 medium-2 large-2 columns" %>
  <% location_columns = "small-12 medium-2 large-2 columns" %>
  <% date_columns = "small-12 medium-2 large-2 columns" %>
<% end %>
  <div class='columns small-10 large-6' >
    <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive - NON-BRANDED", jobs_jdp_path(branding:"nonbranded") %></h2>
  </div>

  <div class='<%= company_columns %>'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='<%= location_columns %>'>
    <p class="right">Atlanta, Georgia
    </p>
  </div>
  <div class='<%= date_columns %>'>
    <p class="right">1 Hour Ago</p>
  </div>
  <div class="large-12 small-12 columns">
    <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
  </div>
  <div class="large-12 columns">
    <ul class="inline-list show-for-large-up">
        <% if session[:auth] == "authenticated" %>
          <li>
            <a class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg" id="job_saved_btn"><i class="fa fa-star-o"></i>&nbsp;Save Job</a>
            <a  class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg"  id="job_saved_msg" style="display:none"><i class="fa fa-star"></i>&nbsp;Job Saved</a>
          </li>
        <li><a href="" data-dropdown="emaildrop" aria-controls="emaildrop" aria-expanded="false"><i class="fa fa-envelope-o"></i>&nbsp;Email Job</a><li>
            <div class="show-for-medium-up">
              <div id="emaildrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                  <div class="medium-12 columns">
                          <% if session[:auth] == "authenticated" %>
                          <h4>Email This Job</h4>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="prepopulatedemail@gmail.com" />
                          </label>
                          <% else %>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>To (Recipients Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% if session[:auth] == "authenticated" %>
                          <label>Your Name
                          <input type="text" placeholder="Prepopulated Name" />
                          </label>
                          <% else %>
                          <label>Your Name
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>Notes
                          <textarea placeholder=""></textarea>
                          </label>
                          <p>140 Characters Left</p>
                          <%= link_to "Send Email", url_for(status: "email_sent", success: "true"), class: "button expand" %>
                          <a class="button secondary expand">Cancel</a>
                  </div>
              </div>
            </div>
      </li>
    <% end %>
  </ul>
</div>
<hr />

<!--JOB RESULT AGGREGATOR-->
<% if params[:action] == "after_apply" %>
  <% job_columns = "columns small-10 large-4" %>
  <% company_columns = "small-10 large-2 columns" %>
  <% location_columns = "small-10 large-2 columns" %>
  <% date_columns = "small-10 large-2 columns" %>
<% elsif params[:action] == "resumerecs" %>
  <% job_columns = "columns small-10 medium-5 large-5" %>
  <% company_columns = "small-10 medium-2 large-2 columns" %>
  <% location_columns = "small-10 medium-2 large-2 columns" %>
  <% date_columns = "small-10 medium-1 large-1 columns" %>
<% else %>
  <% job_columns = "columns small-12 medium-6 large-6" %>
  <% company_columns = "small-12 medium-2 large-2 columns" %>
  <% location_columns = "small-12 medium-2 large-2 columns" %>
  <% date_columns = "small-12 medium-2 large-2 columns" %>
<% end %>
  <div class='columns small-10 large-6' >
    <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive - AGGREGATOR", jobs_jdp_path(branding:"aggregator") %></h2>
  </div>

  <div class='<%= company_columns %>'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='<%= location_columns %>'>
    <p class="right">Atlanta, Georgia
    </p>
  </div>
  <div class='<%= date_columns %>'>
    <p class="right">1 Hour Ago</p>
  </div>
  <div class="large-12 small-12 columns">
    <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
  </div>
  <div class="large-12 columns">
    <ul class="inline-list show-for-large-up">
        <% if session[:auth] == "authenticated" %>
          <li>
            <a class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg" id="job_saved_btn"><i class="fa fa-star-o"></i>&nbsp;Save Job</a>
            <a  class="hide_show" data-1="#job_saved_btn" data-2="#job_saved_msg"  id="job_saved_msg" style="display:none"><i class="fa fa-star"></i>&nbsp;Job Saved</a>
          </li>
        <li><a href="" data-dropdown="emaildrop" aria-controls="emaildrop" aria-expanded="false"><i class="fa fa-envelope-o"></i>&nbsp;Email Job</a><li>
            <div class="show-for-medium-up">
              <div id="emaildrop" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                  <div class="medium-12 columns">
                          <% if session[:auth] == "authenticated" %>
                          <h4>Email This Job</h4>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="prepopulatedemail@gmail.com" />
                          </label>
                          <% else %>
                          <label>From (Your Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>To (Recipients Email Address)
                          <input type="text" placeholder="" />
                          </label>
                          <% if session[:auth] == "authenticated" %>
                          <label>Your Name
                          <input type="text" placeholder="Prepopulated Name" />
                          </label>
                          <% else %>
                          <label>Your Name
                          <input type="text" placeholder="" />
                          </label>
                          <% end %>
                          <label>Notes
                          <textarea placeholder=""></textarea>
                          </label>
                          <p>140 Characters Left</p>
                          <%= link_to "Send Email", url_for(status: "email_sent", success: "true"), class: "button expand" %>
                          <a class="button secondary expand">Cancel</a>
                  </div>
              </div>
            </div>
      </li>
    <% end %>
  </ul>
</div>
<hr />


<!--job alert-->
      <% if params[:action] != "after_apply" %>
 <div class="medium-12 large-12 large-centered right columns hide-for-small-only panel">
    <p class="emailalerttext"><i class="fa fa-envelope-o">&nbsp;&nbsp;</i>Be the first to hear about new jobs like these</p>
    <p>Sales Representative Jobs in Atlanta, GA</a>
      <div class="row">
          <% if session[:auth] == "authenticated" %>
            <div class="small-8 medium-6 large-5 columns">
              <label>Your Email
              <input type="text" placeholder="prepopulatedemail@gmail.com">
              </label>
            </div>
            <% else %>
            <div class="small-8 medium-6 large-5 columns">
              <label>Your Email
              <input type="text" placeholder="">
              </label>
            </div>
            <% end %>
          <div class="small-4 medium-5 large-3 columns">
              <label>
                <a class="button postfix unauthalertbtn" id="job_alert_btn">Create Job Alert</a>
              </label>
          </div>
          <div class ="small-2 medium-2 large-2 columns">
          </div>
      </div>
    <p>You can cancel job alerts anytime</p>
  </div>
  </div>
  <% end %>

  </div>
</div>
  <div class="row">
<%= render 'pagination' %>
</div>
