<!--search results navigation-->
<div class="show-for-medium-up">
    <%= render 'nextjob' %>
</div>

<div class="row">
    <div class="small-12 columns show-for-small-only">
        <a href="../jobs"> < Back</a>
    </div><!--close columns-->
</div>


    <!--ad-->
    <% if params[:branding] == "nonbranded" %>
        <div class="row">
        <%= render 'jdp_ad' %>
        </div>
    <% end %>

    <!--branding-->
    <div class="row">
    <%= render 'top_banner' %>
    </div>



<!--job header-->
<%= render 'job_header' %>


<div class="row">
    <!--icon bar job snapshot-->
    <div class="show-for-medium-up">
        <div class="icon-bar four-up">
          <div class="item">
            <i class="fa fa-2x fa-building-o"></i>
            <label>Full-Time</label>
          </div>
          <div class="item">
            <i class="fa fa-2x fa-calendar-o"></i>
            <label>4 Years Experience</label>
          </div>
          <div class="item">
           <i class="fa fa-2x fa-usd"></i>
            <label>$100K-$120K Salary</label>
          </div>
            <a class="item moresnapshot">
            <label>More Details</label>
          </a>
        </div>
    </div>

    <div class="small-12 columns panel show-for-small-only">
        <ul class="snapshotlist smallsnapshot">
          <li>Full-Time</li>
          <li>4 Years Experience</li>
          <li>Bachelors Degree</li>
          <li>$100K-$120K Salary</li>
          <li>Required Travel: 25%</li>
          <li>Manages Others: Yes</li>
            <li>Job Type: Information Technology</li>
            <li>No Relocation</li>
            <li>Industry: Computer Hardware, Computer Software</li>
            <li>Job ID: BHJOB2052_9418</li>
        </ul>
    </div>
</div>

<div class="row">
<!--more snapshot div-->
    <div class="small-12 medium-12 large-12 columns hidden panel" id="jobsnapshot">
        <ul class="side-nav">
            <li>Job Type: Information Technology</li>
            <li>Education: Not Specified</li>
            <li>Manages Others: Not Specified</li>
            <li>Relocation: No</li>
            <li>Industry: Computer Hardware, Computer Software</li>
            <li>Required Travel: Not Specified</li>
            <li>Job ID: BHJOB2052_9418</li>
            <a class="lesssnapshot">Hide Details</a>
        </ul>
    </div><!--close job snapshot-->
</div><!--close row-->

<div class="row">

    <div class="small-12 medium-12 large-8 columns">
        <h3> Job Description </h3>
        <p>SALES REPS NEEDED - B2B - OUTSIDE SALES - BUSINESS DEVELOPMENT MANAGERS 
            <br /><br />
            We are currently looking for outside sales representatives and account executives who have a background in outside sales, B2B, and business development.  If you are in sales and are confident in your sales abilities, then this opportunity may be for you.  We are looking for energetic sales reps and account executives with 5+ years of B2B outside sales and business development experience who would like an opportunity as an Outside Sales Rep with our company.
            <br /><br />
            SMS is the largest full-service business development firm serving small to mid-sized businesses in the US. Through the coordinated efforts of our corporate headquarters and field service personnel; SMS installs proven methods, systems, controls and incentives to enable business owners and their managers to maintain positive cash flow, control costs, and accelerate the growth of their companies.
            SMS is currently seeking passionate, positive, driven outside sales professionals to sell into small & medium size company business owners, presidents and CEO’s.  As an outside sales rep, you will be working as a business development manager selling B2B.  You will hold a pivotal role in helping people achieve their dreams.    
            <br /><br />
            SALES REPS - B2B - OUTSIDE SALES - BUSINESS DEVELOPMENT MANAGERS
            <br /><br />
            Responsibilities for the Outside Sales Rep - B2B - Business Development Manager - Account Executive position are as follows:
            <br /><br />
            Preparing for appointments received from assistant the day prior--all travel is local and typically within a 50 mile radius of your home
            Directing 3-4 sales leads daily with owners of small to medium sized businesses with the goal of marketing and securing Business Analysts a Survey Agreement.
            Conducting our innovative hybrid approach to qualifying potential business for new sales leads in between appointments and during networking opportunities
            Contacting Business Coordinator with feedback from appointments and sharing new business lead opportunities.
            Reviewing the day’s successes and challenges with your Sales Manager, gaining sales support as appropriate-- all administrative support people have a vested interest in your success
            <br /><br />
            In our organization, we offer the following to our outside sales - account executive - b2b - business development managers:
            <br /><br />
            Fantastic Benefits and Compensation Program
            $65,000-$85,000 realistic first year commissions
            Potential to earn 6 figure commissions
            Comprehensive new hire and ongoing training and development
            Protected territory and pre-set appointments
        </p>
        <h3>Job Requirements</h3>
        <p>SALES REPS NEEDED - B2B - OUTSIDE SALES - BUSINESS DEVELOPMENT MANAGERS
            <br /><br />
            Requirements for the Outside Sales Rep - B2B - Business Development Manager - Account Executive position are as follows: 
            <br /><br />
            At least three years of business ownership experience and/or three years of face-to-face direct sales, outside sales, B2B, Business Development experience
            Bachelor’s degree preferred but not necessary. We will consider the right experience over a degree 
            Highly self-motivated and self-disciplined with ability to work effectively with little or no supervision
            Outgoing personality with expertise at developing relationships, particularly with business owners, presidents and CEO’s
            Good communicator—excellent listening skills and ability to uncover the real “pain" a client might be experiencing
            Ability to begin work immediately
            <br /><br />
            To schedule an interview
            Call Ms. Durham 1-877-274-0147
            <br /><br />
            Or forward resume
            <br /><br />
            Keywords: Sales, salesperson, sales representative, account manager, account management, business to business sales, outside sales, B2B, business development manager, account executive, senior account executive, major account executive, national sales, national account executive, business development representative, business, general business, small business, entrepreneur, business owner, consulting
        </p>
        <h3>Equal Opportunity Employment</h3>
        <p>ABC is commited to having our online application process accesible by all, including those individuals wiht a disability where appropriate, by offering an alternative way to apply for job openings. The alternative method is only available for those who cannot otherwise complete the online applicaiton due to disability or need for accomidations. ABC provides reasonable accomidation for applicants under the guidance of the Americans with Disabilities Act (ADA), Section 503 of the Rehabilitations Act of 1973, the Vietnam-Era Veterans' Readjustment Assistance Act of 1974 and certain state and/or local laws.</p>
    </div><!--close columns-->

    <div class="small-12 medium-12 large-4 columns">
        <h3>Company Overview</h3>
        <ul>
            <li>10,000-25,000 employees</li>
            <li>www.abccompany.com</li>
        </ul>

        <p class="hide-for-small-only">
            SMS focuses on marketing strategies, strategic planning and business development. SMS, and the companies it represents, works to increase the sales, improve productivity, increase profitability, and improve the ease of operations of small- to medium-sized companies, while helping business owners reach their maximum potential and secure their financial future. 
            <br /><br />
            SMS has been instrumental in helping companies recapture lost revenue and profits from the most recent economic downturn by providing the appropriate business experts to our clients to put in place methods, systems, and controls to control costs, increase productivity, while maintaining a positive cash flow . Our strategies help determine unique, "out-of-the-box" ways to increase both business and profitability while helping our clients stay competitive in challenging markets.
            <a href="../jobs/companyprofile">Learn more about this company</a>
        </p>

        <!--premium video-->
        <% if params[:branding] == "premium" %>
            <%= render 'video' %>
        <% end %>

        <!--premium social media-->
        <% if params[:branding] == "premium" %>
            <%= render 'socialmedia' %>
        <% end %>

        <p><a href="../jobs" class="button secondary">View all jobs at abccompany</a></p>

        <!--similar jobs for nonbranded-->
        <% if params[:branding] == "nonbranded" %>
            <%= render 'similar_jobs' %>
        <% end %>
    </div><!--close columns-->

</div><!--close row-->


<!--apply button bar-->
<div class="row">
    <div class="left small-12 medium-3 large-2 columns">
            <%= link_to "Apply Now", apply_path, class: "button expand" %>
    </div><!--close button bar columns-->
    <div class="small-12 medium-3 large-3 columns">
            <a href="#" data-reveal-id="TNModal" class="button secondary expand">Join Our Talent Network</a>
            <div id="TNModal" class="reveal-modal" data-reveal>
              <h2>Talent Network Join Form</h2>
              <p>This is a placeholder for the Talent Network Join Form</p>
              <a class="close-reveal-modal">&#215;</a>
            </div>
    </div><!--close button bar columns-->
    <div class="small-12 medium-9 large-2 columns">
        <a id="report-job-link">Report Job</a>
    </div>
        <div class="hidden" id="jobreport">
            <div class="small-12 medium-8 large-8 columns">
            <p>Please help us monitor our job postings by providing us feedback on this job. If you feel this job is miscategorized or some type of spam please let us know. Once a job has been reported to us, we will investigate it further and make the appropriate adjustments. If you require a response please submit your question or concern to our <a href="#">Trust and Site Security Team</a>.</p>
                <label>Select a Report Type:
                <select>
                    <option>Fee or Investment Required</option>
                    <option>Cannot Apply/Broken Link</option>
                    <option>Possible Scam</option>
                    <option>Multiple Positions in one posting</option>
                    <option>Miscategorized</option>
                    <option>Company not identified</option>
                    <option>Irrelevant keywords</option>
                    <option>Offensive Content</option>
                    <option>Other</option>
                </select>
                </label>
                <label>Comments
                <textarea placeholder=""></textarea>
                </label>
                <a id="job-report-submit" class="button small">Submit</a>
                <a id="job-report-cancel" class="button secondary small">Cancel</a>
            </div>
        </div>
</div><!--close row-->

<div class="row hide-for-small-only">
<!--branding-->
    <% if params[:branding] == "premium" %>
        <%= render 'bottom_banner' %>
    <% end %>
</div><!--close row-->

<!--search results navigation-->
<%= render 'nextjob' %>

<div class="row">
        <div class="show-for-medium-up panel large-12 columns">
        <h3>Careerbuilder Tip</h3>
        <p>For your <a href="#">privacy and protection</a>, when applying to a job online, never give your social security number to a prospective employer, provide credit card or bank account information, or perform any sort of monetary transaction. <a href="#">Learn more</a>.
        <br /><br />
        By applying to a job using CareerBuilder.com you are agreeing to comply with and be subject to the CareerBuilder.com <a href="#">Terms and Conditions</a> for use of our website. To use our website, you must agree with the <a href="#">Terms and Conditions</a> and both meet and comply with their provisions.
        </div><!--close show for medium up-->
</div><!--close row-->