<!--header-->
<div class="row">
  <div class="small-12 large-7 columns">
      <h1> Sales Representative Jobs in Atlanta, GA</h1>
        <p>2 jobs found</p>
        <a href="../jobs">< Show all results
  </div><!--close column-->
  <div class="small-12 large-2 right columns hide-for-small-only">
      <a href="#" class="button secondary small" id="job_alert_btn">Create Job Alert</a>
  </div>
</div>
<!--start sort larger devices-->
<div class="row">
  <div class="medium-5 right columns show-for-large-up">
    <dl class="sub-nav right">
      <dt>Sort By:</dt>
        <dd class=<%= @sort_relevance %>>
            <%= link_to "Relevance", params.merge(:sort => "relevance").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_date %>>
            <%= link_to "Date", params.merge(:sort => "date").except(:action, :controller) %>
        </dd>
        <dd class=<%= @sort_location %>>
            <%= link_to "Location", params.merge(:sort => "location").except(:action, :controller) %>
        </dd>
      </dl>
  </div>
</div>


<!--filter button for mobile only-->
<div class="row">
<div class="small-4 medium-4 columns hide-for-large-up">
  <a href="jobs/mobile_filters" class="button secondary expand">Filter</a>
</div>

<!--start sort small devices-->
<div class="small-4 medium-3 right hide-for-large-up">
  <button href="#" data-dropdown="mobilesort" aria-controls="mobilesort" aria-expanded="false" class="button dropdown secondary">Relevance</button>
  <br>
  <ul id="mobilesort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
    <li><a href='#'>Relevance</a></li>
    <li><a href="#">Date</a></li>
    <li><a href="#">Location</a></li>
  </ul>
</div>
</div>

<!--filters-->
<div class="row">
  <div class="large-3 columns show-for-large-up">
    <h4>Filter By</h4>
    <!--Distance from you-->
    <%= render 'distance_within_filter' %>
        <!--Date Posted-->
    <!-- TODO Style this radio list to our tag/radio list-->
    <%= render 'date_posted_filter' %>
    <!--Job Type-->
        <% render 'job_type_filter' %>
    <%= render 'shared/multiselect_field', multiselect_label: "Job Type", multiselect_id: "job-type-filter", hash_for_options: @job_type_filters %>
        <!--Salary-->
        <%= render 'salary_range_filter' %>
    <!--Location (City/State)-->
    <%= render 'shared/multiselect_field', multiselect_label: "Location", multiselect_id: "location-filter", hash_for_options: @location_filters %>
        <!--Job Category-->
    <%= render 'shared/multiselect_field', multiselect_label: "Job Categories", multiselect_id: "job-category-filter", hash_for_options: @job_category_filters %>
    <!--Job Level-->
    <%= render 'shared/multiselect_field', multiselect_label: "Job Level", multiselect_id: "job-level-filter", hash_for_options: @job_level_filters %>
    <!--Skills-->
    <%= render 'shared/multiselect_field', multiselect_label: "Skills", multiselect_id: "skills-filter", hash_for_options: @skills_filters %>
        <!--Degree Required-->
    <% render 'degree_required_filter' %>
    <% render 'shared/multiselect_field', multiselect_label: "Degree Required", multiselect_id: "degree-required-filter", hash_for_options: @degree_requirements_filters %>

    <div class="hide-for-small-only">
      <img src="http://placehold.it/160x600&text=Ad+160+x+600" alt="in-line ad">
    </div>
</div>

    

    <!--job result-->
  <div class="small-12 large-9 columns">
    <div class='columns small-12 medium-6 large-6' >
      <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive", jobs_jdp_path %></h2>
          <% if params[:action] != "after_apply" %>
          <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
          <ul class="inline-list show-for-large-up">
              <% if @auth == "authenticated" %>
                <li><a href="#">Save Job</a></li>
              <% end %>
                <li><a href="" class='email-drawer-link'>Email Job</a>
                  <div class="hidden email-drawer">
                      <div class="small-12 medium-12 large-12 columns">
                        <label>From (Your Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>To (Recipients Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>Your Name
                        <input type="text" placeholder="" />
                        </label>
                        <label>Notes
                        <textarea placeholder=""></textarea>
                        </label>
                        <p>140 Characters Left</p>
                        <a href="#" class="button closedrawer">Send Email</a>
                        <a href="#" class="button secondary small closedrawer">Cancel</a>
                      </div><!--close column-->
                  </div><!--close email drawer-->
            </li>
      </ul>
    <% end %>
  </div>
    <div class='small-12 medium-2 large-2 columns'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='small-12 medium-2 large-2 columns'>
    <p>GA-Atlanta
    </p>
  </div>
  <div class='small-12 medium-2 large-2 columns'>
    <p>1 Hour Ago</p>
  </div>
  <hr />
  </div>
  

      <!--job result-->
  <div class="small-12 large-9 columns">
    <div class='columns small-12 medium-6 large-6' >
      <h2><%= link_to "Commercial Property and Casualty Insurance Account Executive", jobs_jdp_path %></h2>
          <% if params[:action] != "after_apply" %>
          <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
          <ul class="inline-list show-for-large-up">
              <% if @auth == "authenticated" %>
                <li><a href="#">Save Job</a></li>
              <% end %>
                <li><a href="" class='email-drawer-link'>Email Job</a>
                  <div class="hidden email-drawer">
                      <div class="small-12 medium-12 large-12 columns">
                        <label>From (Your Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>To (Recipients Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>Your Name
                        <input type="text" placeholder="" />
                        </label>
                        <label>Notes
                        <textarea placeholder=""></textarea>
                        </label>
                        <p>140 Characters Left</p>
                        <a href="#" class="button closedrawer">Send Email</a>
                        <a href="#" class="button secondary small closedrawer">Cancel</a>
                      </div>
                  </div>
            </li>
      </ul>
    <% end %>
</div>

  <div class='small-12 medium-2 large-2 columns'>
    <a href="jobs/companyprofile">Account Control Technology Inc.</a>
  </div><!--close column-->
  <div class='small-12 medium-2 large-2 columns'>
    <p>GA-Atlanta
    </p>
  </div>
  <div class='small-12 medium-2 large-2 columns'>
    <p>1 Hour Ago</p>
  </div>
  <hr />
  </div>

  </div><!--close row-->
  <div class="row">
<%= render 'pagination' %>
</div>