<nav class='nav_bar <%= @nav_bar %>'>
	<div class="row">
		<div class="column small-12">
  		<div class="top-bar" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name">
			      <h1><%= link_to "Careerbuilder", root_path %></h1>
			    </li>
			    <li class="toggle-topbar right">
			    	<a href="">
			    		<span><i class="fa fa-navicon"></i></span>
			    	</a>
			    </li>
			    <% if @search_bar != "no-search" %>
				    <li class="toggle-topbar-2 right">
				    	<a href="#" id="search-toggle-button" onclick="toggle_visibility('search-toggle-button','search-toggle');">
				    		<span><i class="fa fa-search"></i></span>
				    	</a>
				    </li>
				   <% end %>
				   <li class="toggle-topbar-2 right">
				    	<a>
				    		<span class="fa-stack">
				    			<i class="fa fa-circle green fa-lg fa-stack-1x fa-stack-1-5x"></i>
				    			<i class="fa fa-bell fa-stack-1x"></i>
				    		</span>
				    	</a>
				    </li>
			  </ul>

			  <section class="top-bar-section">
			    <!-- Right Nav Section -->
			    <ul class="right">
			    	<% if @auth == "unknown" %>
			      	<li class=""><%= link_to "Sign In", sign_in_path %></li>
			      <% elsif @auth == "known" %>
			      	<li class=""><%= link_to "Sign In", sign_in_path %></li>
			      <% elsif @auth == "authenticated" %>
			      	<li class="has-dropdown">
			      		<%= link_to "Hi, Paul" %>
			      		<ul class="dropdown">
			      			<li><%= link_to "My Account", account_path %></li>
			      			<li><%= link_to "Sign Out", root_path(auth: "known", signed_out: true) %></li>
			      		</ul>
			      	</li>
			      	<li class="toggle-topbar-3">
					    	<a>
					    		<span class="fa-stack">
					    			<i class="fa fa-circle green fa-lg fa-stack-1x fa-stack-1-5x"></i>
					    			<i class="fa fa-bell fa-stack-1x"></i>
					    		</span>
					    	</a>
					    </li>
			      <% end %>
			      <li class="show-for-large-up"><a href="#">Employers</a></li>
			    </ul>

			    <!-- Left Nav Section -->
			    <ul class="left">
			      <li><%= link_to "My Careerbuilder", root_path %></li>
			      <li><%= link_to "Find Jobs", jobs_find_jobs_searchstate_path %></li>
			      <li><%= link_to "Recommendations", recommendations_path %></li>
			      <li><%= link_to "Resumes", resumes_path %></li>
			    </ul>
			  </section>
			</div>
		</div>
	</div>
</nav>
<section class="global-search <%= @search_bar %>" id="search-toggle">
  <div class="row">
  	<div class="medium-4 medium-offset-1 small-12 columns">
  		<label>Keyword
  			<input type="text" placeholder="" />
			</label>
  	</div>
  	<div class="medium-4 small-12 columns">
  		<label>Location
  			<input type="text" placeholder="" />
			</label>
  	</div>
  	<div class="medium-2 small-12 columns end">
  		<%= link_to "Search", jobs_path(results: "25"), class: "button postfix" %>
  	</div>
  </div>
</section>	