<% @nav_bar = "no-nav" %>
<% @footer_help = "no_help" %>

<div class="home-ex-1">
	<div class="hero">
		<nav>
			<div class="row">
				<div class="column small-12 xl-12">
					<div class="left">
						<h2><a style="margin-top: 0; line-height:inherit;" href="../home-one">careerbuilder</a></h2>
					</div>
					<div class="right">
						<ul class="inline-list">
							<li>
								<a class="button" href="https://www.careerbuilder.com/share/login.aspx" style="line-height:2.5em; padding: 0 1.25em; height: inherit; background-color: #1B7CB2;">
									Sign In
								</a>
							</li>
							<li>
								<a href="https://www.careerbuilder.com/share/register.aspx" style="line-height:2.5em;">
									Sign Up
								</a>
							</li>
							<li>
								<a href="http://www.careerbuilderforemployers.com/" style="line-height:2.5em;">
									Employers
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="column small-12 medium-6 large-5">
				<h1 style="font-size: 3.5em; line-height: 1.125; color: #fff">A BETTER <br> JOB AWAITS</h1>
				<input type="text" class="no-bottom-margin" name="keyword" id="search-key" placeholder="Keyword" style="height: 50px; font-size: 1.125em;" />
		  	<input type="text" id="ipfill" name="location" placeholder="Location" style="height: 50px; margin-top:-1px; font-size: 1.125em;" />
		  	<a class="button" id="search-btn" style: "background-color: #FD9923; padding: .25em 2em; font-size: 1.5em; line-height: 1.25em;">Search</a>
			</div>
		</div>
		<div class="column small-12 medium-4 right">
			<div class="banner text-right">
				72,245 applications viewed today &nbsp;&nbsp;<i class="fa fa-info-circle fa-lg"></i>
			</div>
			<div class="banner text-right">
				112,504 new jobs posted today &nbsp;&nbsp;<i class="fa fa-info-circle fa-lg"></i>
			</div>
		</div>
	</div>
	<div class="registration">
		<div class="row">
			<div class="column small-12">
				<h2 class="text-center subheader">
					Job searching is hard.<br>Let us make it <strong>easier</strong> for you.
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 medium-10 medium-centered">
				<div class="row">
					<div class="column small-12 medium-6 large-6">
						<div class="row">
							<div class="column small-3">
								<i class="fa fa-bolt fa-4x" style="text-align:center; display:block; color: #6f6f6f"></i>
							</div>
							<div class="column small-8 end">
								<h3>
									Apply Quickly
									<br>
									<small class="clearfix">
										With your own account you’ll be able to save your resume and apply to jobs with single click.<br> <br>
									</small>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="column small-3">
								<i class="fa fa-pie-chart fa-4x" style="text-align:center; display:block; color: #6f6f6f"></i>
							</div>
							<div class="column small-8 end">
								<h3>
									Gain Insights
									<br>
									<small class="clearfix">
										See who you’re competing with for each job. Improve your chances of being discovered by applying to jobs you’re a good fit for.
									</small>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="column small-3">
								<i class="fa fa-search fa-4x" style="text-align:center; display:block; color: #6f6f6f"></i>
							</div>
							<div class="column small-8 end">
								<h3>
									Be Discovered
									<br>
									<small class="clearfix">
										Make your resume available to empoyers when the time is right and let them reach out to you with opportunities.
									</small>
								</h3>
							</div>
						</div>
					</div>
					<div class="column small-12 medium-6 large-6">
						<label>First Name
							<input type="text">
						</label>
						<label>Last Name
							<input type="text">
						</label>
						<label>Email Name
							<input type="email">
						</label>
						<label>Zip Name
							<input type="number">
						</label>
						<label>Password
							<input type="password">
						</label>
						<a class="button expand" style="background-color: #1B7CB2;" href="">Sign Up</a>
					</div>
				</div>
			</div>
			<!-- REGISTRATION TO GO HERE -->
		</div>
	</div>

	<div class="sob-story" style="background-color: #f5f5f5; padding: 1em 0 0;">
		<div class="row">
			<div class="column small-12 medium-6 medium-offset-1" style="padding-top: 1.75em;">
				<h2 class="subheader">Steve's <strong>Story</strong></h2>
				<p class="subheader">“In 2010, I lost my job due to our company being acquired.  After looking for a new job for several months, I finally made the decision to use CareerBuilder.  Within 2 days I had 3 interviews lined up.  One of those changed my life forever.  I’m now working in my dream job as a  Sr. Engineer at Sony and I have CareerBuider to thank.”</p>
				<a class="button secondary small" style="background-color: #e7e7e7;">Share Your Story</a>
			</div>
			<div class="column small-12 medium-4 end">
				<%= image_tag "experiment/douche.png" %>
			</div>
		</div>
	</div>

	<div class="top-companies">
		<div class="row">
			<div class="column small-12">
				<h2 class="text-center subheader">Job from <strong>Top Employers<strong></h2>
				<div class="row">
					<div class="column small-12 medium-10 small-centered">
						<ul class="small-block-grid-1 medium-block-grid-5" data-equalizer>
							<li data-equalizer-watch>
								<a>
									<%= image_tag "experiment/macys-logo.png", style: "width: 90%; display:inline-block; vertical-align: middle;" %>
								</a>
							</li>
							<li data-equalizer-watch>
								<a>
									<%= image_tag "experiment/chipotle-logo.png", style: "width: 90%; display:inline-block; vertical-align: middle;" %>
								</a>
							</li>
							<li data-equalizer-watch>
								<a>
									<%= image_tag "experiment/robert-half-logo.png", style: "width: 90%; display:inline-block; vertical-align: middle;" %>
								</a>
							</li>
							<li data-equalizer-watch>
								<a>
									<%= image_tag "experiment/aerotek-logo.png", style: "width: 90%; display:inline-block; vertical-align: middle;" %>
								</a>
							</li>
							<li data-equalizer-watch>
								<a>
									<%= image_tag "experiment/unitedhealth-logo.png", style: "width: 90%; display:inline-block; vertical-align: middle;" %>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
