<div class="row">
	<div class="column small-12 medium-9 medium-centered">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- MOBILE LEAD PROGRESS STEPS -->
<% @step_two = "is-active" %>
<%= render 'apply/mobile_lead_steps' %>
<!-- END MOBILE LEAD PROGRESS STEPS -->

<div class="row">
	<div class="column small-12 medium-9 medium-centered">

		<!-- Make sure the preview is in show mode and edit is hidden -->
		<% @edit_show = "" %>
		<% @show_show = "hide" %>

		<!-- Show the work experience partial -->
		<%= render 'resumes/work_experience_entry' %>
		
		<!-- Add position button -->
		<%= link_to "Add Position", "#", class: "button secondary expand" %>
		
		<hr/>

   	<%= link_to "Next", url_for(step: "mobile-lead-edu"), class: "button expand" %>
   	<%= link_to "Cancel", url_for(step: "mobile-lead"), class: "button secondary expand" %>

	</div>
</div>