<div class="row">
	<div class="column small-12 medium-9 medium-centered">
		<div class="row">
			<div class="column small-12 ">
				<h2 class="subheader">Applying to</h2>
				<h1>Sales Coordinator – Inside Sales Representative</h1>
			</div>
		</div>

		<div class="row">
			<div class="column small-12">
				<h2>Attach a resume</h2>
			</div>
			<div class="column small-12">
				<%= render 'resumes/upload_resume' %>
			</div>
    </div>

    <hr/>

		<!-- Saved Cover Letter List-->

		<div class="row" id="double-bump">
			<div class="column small-12">
				<h2>Include a Cover Letter (optional)</h2>
			</div>
			<% if session[:cover_letters].to_i > 0 && session[:auth] == "authenticated" %>
				<ul class="resume accordion" data-accordion>
					<li class="accordion-navigation">
						<a href="#panel1b">Used a Saved Cover Letter</a>
						<div id="panel1b" class="content active">
							<% 2.times do |i| %>
								<ul class="inline-list">
									<li>
										<input type="radio" id="radio-<%= i %>" name="saved_res" />
										<label for="radio-<%= i %>"><h3>
											Cover Letter Name Here
										</h3></label>
									</li>
									<li class="right small">
										modified 1/1/15
									</li>
								</ul>
							<% end %>
						</div>
					</li>
					<li class="accordion-navigation">
						<a href="#panel2b">Create a New Cover Letter</a>
						<div id="panel2b" class="content">
							<div class="row">
   							<div class="column small-12">
							   <label>Cover Letter
							        <textarea placeholder=""></textarea>
							      </label>
							    </div>
							</div>
						</div>
					</li>
				</ul>
			<% else %>
				<div class="column small-12">
					<label>Cover Letter
		        <textarea placeholder=""></textarea>
		      </label>
		    </div>
			<% end %>
		</div>

		<% if session[:auth] != "authenticated" %>
			<!-- Collect password-->
			<hr/>
			<div class="row">
				<div class="column small-8 ">
					<h2>Create a password (optional)</h2>
					<p> Save your resume and use again next time.</p>
				</div>
			</div>
			<!-- Password Area-->
			<div class="row">
				<form data-abide>
					<%= render "user/password_creation_field", password_create_label: "Password" %>
				</form>
			</div>
		<% end %>
		<!-- End Password Area-->
		<div class="row" id="double-bump">
			<div class="column small-12" >
				<% if @has_screener == "true" %>
					<%= link_to "Send Application", url_for(step: "screener"), class: "button expand" %>
				<% else %>
					<%= link_to "Send Application", jobs_after_apply_path, class: "button expand" %>
				<% end %>
			</div> 
		</div>
	</div>
</div>