<label><%= password_label %>
	<div class="row collapse">
		<div class="column small-9">
			<!-- TODO password validation -->
	    <input type="password" id=<%= password_id %> data-abide-validator=<%=data_abide_validator %> />
	    <small class="error">A valid password is required</small>
	    <!-- <small class="error">This Password doesn't work</small> -->
	  </div>
    <div class="small-3 columns">
      <a id=<%= show_hide_id %> class="button secondary postfix" onclick="$('#<%= password_id %>').togglePassword();toggle_password_text('<%= show_hide_id %>')"><i class="fa fa-eye"></i> Show</a>
    </div>
  </div>
</label>
