<% @search_bar = "no-search" %>
<% @footer_bar = "no-footer" %>
<div class="row"> 
	<div class="column small-12 text-center">
		<img src="http://www.placehold.it/300x90&textcareerbuilder"/>
	</div>
</div>
<div class="row">
	<%= form_tag( @path, method: "get", id: "sign-in-form") do %>
		<%= hidden_field_tag 'auth', 'authenticated' %>
		<div class="column small-12 medium-4 large-4 medium-offset-2">
			<div class="row">
				<div class="column small-12 large-centered medium-centered">
					<!-- Email Field -->
					<%= render 'user/email_field', required: "" %>
				  <!-- Ends Email-->
				</div>
			</div>
			<div class="row">
				<div class="column small-12 large-centered mshow_hide_id: "showhidecreation"edium-centered">
					<%= render 'user/password_field', show_hide_id: "showhide", password_id: "password", password_label: "password", data_abide_validator: "" %>
				</div>
			</div>
			<div class="row">
				<div class="column small-6">
		      <input id="checkbox1" type="checkbox">
		      <label for="checkbox1">Remember Me</label>
				</div>
				<div class="column small-6 end text-right">
					<a href="#" data-reveal-id="myModal">Forgot Password</a>
				</div>
			</div>
			<div class="row">
				<div class="column small-12 large-centered medium-centered">
					<%= submit_tag "Sign In", class: "button expand" %>
				</div>
			</div>
			<% if @create_or_post == nil || @create_or_post == "create" %>
				<div class="row">
					<div class="column small-12 large-centered medium-centered text-center">
						<p> Don't have an account? <%= link_to "Sign Up Now", sign_up_path %></p>
					</div>
				</div>
			<% elsif @create_or_post == "post" %>
				<div class="row">
					<div class="column small-12 large-centered medium-centered text-center">
						<p> If you don't have an account we'll help you make one <%= link_to "Post and Sign Up", resumes_path(params.merge(step: "upload").except(:action, :controller, :message)) %></p>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	<!-- Social Stuff-->
	<div class="column small-12 medium-4 large-4 end">
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<p> or sign in with</p>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand secondary">
					<i class="fa fa-facebook-official"></i>
					Facebook
				</a>
				<a href="#" class="button expand secondary" >
					<i class="fa fa-google-plus-square"></i>
					Google Plus
				</a>
			</div>
		</div>	
	</div>
</div>


<div id="myModal" class="reveal-modal" data-reveal>
	<div class="row">
		<div class="small-12 columns">
			<h2>Forgot Password</h2>
			<p class="lead">Some text about what to do here.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<label>Email Address
				<input type="text" placeholder="Email Address" />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="column small-12">
			<a href="#" class="button expand">Send Password</a>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>