<% @search_bar = "no-search" %>
<div class="row"> 
	<div class="column small-12 text-center">
		<img src="#"/>
		<p> Text about benefits</p>
		<p>Already have an account? <a href="#">Sign In</a></p>
	</div>
</div>
<!-- Form Area -->
<div class="row">
	<div class="column small-12 medium-6 large-6">
		<form class="custom" data-abide>
			<div class="row">
				<div class="column small-12">
					<%= render 'text_field', text_label: "First Name", required:"required" %>
				</div>
				<div class="column small-12">
					<%= render 'text_field', text_label: "Last Name", required:"required" %>
				</div>
				<div class="column small-12">
					<%= render 'email_field', required:"required" %>
				</div>
				<div class="column small-12">
					<%= render 'zip_field', required:"required" %>
				</div>
				<%= render 'password_creation_field' %>
				<div class="column small-12">
					<a href="#" class="button expand">Sign Up</a>
				</div>
			</div>
		</form>
	</div>

<!-- Social Stuff-->


	<div class="column small-12 medium-5 large-5">
	
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<p> or sign in with</p>
			</div>
		</div>

		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand">Facebook </a>
				<a href="#" class="button expand">Google Plus </a>
			</div>

		</div>	

	</div>
</div>


