<% @alert_name = "deleted account" %>
<div class="row">
	<div class="column small-12">
		<p>When you select the "Remove my account" button below, your account will be deleted within the next thirty days.
		</p>
	</div>
</div>
<div class="row">
	<div class="column small-12">
		<ul>
			<li>Resumes, profiles and all information about you will be deleted, except applications that have been sent or resumes that have been downloaded or saved by employers.</li>
			<li>You will not be able to use the same email address to re-register.</li>
			<li>If you choose to join Careerbuilder again, you will need to create an new account using a different email address.</li>
			<li>You will no longer receive emails from Careerbuilder or any of its global properties.</li>
		</ul>
	</div>
</div>

<form action=<%= root_path %> method="get">
	<%= hidden_field_tag 'deleted_account', 'true' %>
	<%= hidden_field_tag 'success', 'true' %>
	<%= hidden_field_tag 'auth', 'unknown' %>
	<%= render 'user/password_field', password_label: "Confirm Password", password_id: "password", show_hide_id: "showhide", data_abide_validator: "passwordcb" %>
	<%= submit_tag "Delete Account", name: nil, id: "account-delete", class: "button expand" %>
</form>