<% @search_bar = "no-search" %>
<% @path = account_path %>
<% if @auth == "authenticated" %>
	<div class="row">
		<div class="column small-12">
			<h1>My Account</h1>
		</div>
	</div>
	<div class="row">
		<div class="column small-12 large-6 show-for-small-only">
			<select id="dropdown_nav" onchange="dropdownPageChange()">
				<option value="account_information" <%= @info_selected %>>
					Account Information
				</option>
				<option value="security" <%= @security_selected %>>
					Account Security
				</option>
				<option value="manage_email" <%= @email_selected %>>
					Manage Email Settings
				</option>
				<option value="delete_account" <%= @delete_selected %>>
					Delete Account
				</option>
			</select>
		</div>
	</div>
	<div class="row">
	<!-- only show side nav on medium and up -->
		<div class="column large-3 medium-4">
			<ul class="side-nav show-for-medium-up">
				  <li  class=<%= @info_active %>>
				  	<%= link_to "Account Information", account_path(params.merge(page: "account_information").except(:action, :controller)) %>
				  </li>
				  <li class=<%= @security_active %>>
				  	<%= link_to "Account Security", account_path(params.merge(page: "security").except(:action, :controller)) %>
				  </li>
				  <li class=<%= @email_active %>>
				  	<%= link_to "Manage Email Settings", account_path(params.merge(page: "manage_email").except(:action, :controller)) %>
				  </li>
				  <li class=<%= @delete_active %>>
				  	<%= link_to "Delete Account", account_path(params.merge(page: "delete_account").except(:action, :controller)) %>
				  </li>
			</ul>
		</div>
		<div class="column small-12 medium-8 large-9">
			<%= render @account_view %>
		</div>
	</div>
<% else %>

	<%= render :partial => "user/sign_in_form" %>
<% end %>