<div class="row">
	<div class="column small-12 medium-6">
		<%= render 'jobs/results/molecules/atoms/job_title' %>
		<%= render 'jobs/results/molecules/result_actions', count: count %>
	</div>
	<div class="column small-12 medium-2">
		<%= render 'jobs/results/molecules/atoms/company_name' %>
	</div>
	<div class="column small-12 medium-2">
		<%= render 'jobs/results/molecules/atoms/location' %>
	</div>
	<div class="column small-12 medium-2">
		<%= render 'jobs/results/molecules/atoms/date_posted_hours' %>
	</div>
</div>