<div class="row">
	<div class="column small-3 medium-2">
		<%= render 'jobs/results/molecules/atoms/quick_apply_button' %>
	</div>
	<div class="column small-10 large-4">
		<%= render 'jobs/results/molecules/atoms/job_title' %>
	</div>
	<div class="column small-10 large-2">
		<%= render 'jobs/results/molecules/atoms/company_name' %>
	</div>
	<div class="column small-10 large-2">
		<%= render 'jobs/results/molecules/atoms/location' %>
	</div>
	<div class="column small-10 large-2">
		<%= render 'jobs/results/molecules/atoms/date_posted_hours' %>
	</div>
</div>