<hr/>

 
		<div class="widget">
			<div class="row  border-box">
				<div class="column medium-8 ">
					<h2>Paul Johnson</h2>
					<h3>Associate Project Mananger</h3>
					<h4>Atlanta, Georgia</h4>
				</div><!--Closure of column -->
				<div class="column medium-4">
					<div class="widget">
						<br/>
						<a class="button" href="/apply">Edit Resume</a>
					</div>
				</div><!--Closure of column-->
			</div><!--closrue of row-->
			<ul class="row resume-stats">
				<li class="column small-6">	
					<h2><span class="fa fa-circle"> 2,547</span><span class="stats-desc">Resume <br/>views</span></h2>
				</li>				
				<li class="column small-6">	
					<h2><span class="fa fa-circle"> 3,254</span><span class="stats-desc">Appeared in <br/>search results</span></h2>
				</li>
			</ul>
		</div><!--Closure of widget-->


 



 
		<div class="widget border-box">
				<h2><span class="fa fa-circle"></span> Summary/Objective</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
		
				<h2><span class="fa fa-circle"></span> Work Expereince</h2>

				<p>Jan. 2014 - Present</p>
				<p>Junior Project Manager</p>
				<p>$50,000 per year</p>
				<p>Company Name</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<p>Jan. 2014 - Present</p>
				<p>Junior Project Manager</p>
				<p>$50,000 per year</p>
				<p>Company Name</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<p>Jan. 2014 - Present</p>
				<p>Junior Project Manager</p>
				<p>$50,000 per year</p>
				<p>Company Name</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h2><span class="fa fa-circle"></span> Education</h2>
				<h3>Georgia Tech University</h3>
				<h3>Bachelor of Arts in Environmental Design</h3>
				<p>Jan. 2014</p>

				<h2><span class="fa fa-circle"></span> Skills</h2>
				<span>SEO</span>
				<span>UX</span>
				<span>COLORS</span>
				<span>MOBILE</span>
				<span>IXD</span>
				<span>ICON</span>
				<span>DESIGN</span>
				<span>TEST</span>

				<h2><span class="fa fa-circle"></span> Langauges</h2>
				<ul>
					<li><h3>English</h3><p>Native or Bilingual</p></li>
					<li><h3>Spanish</h3><p>Beginners</p></li>
				</ul>
		</div><!--Closure of widget-->
 


<hr/>


<% @work_add = "resumes/work_experience_entry" %>
<div class="row">
	<div class="column small-2 medium-1 right">
		<a data-equalizer-watch>
			<i class="fa fa-pencil fa-lg"></i>
		</a>
	</div>
	<div class="column small-10 medium-11">
		<h2>Paul Johnson</h2>
		<p>
			<strong>Assistant Project Manager</strong>
			<br/>
			Paul.Johnson@youremail.com 
			<br/>
			Atlanta, Ga. 30123
		</p>
	</div>
</div>

<%= render 'shared/resume_privacy' %>	
<hr/>

<!-- EXPERIENCE -->
<div class="row">
	<div class="column small-12">
		<h3>Work Experience</h3>
	</div>
</div>
<% @exp = 0 %>
<% 2.times do %>
	<%= render 'resumes/work_experience_entry' %>
	<% @exp += 1 %>
<% end %>
<% @show_show = "hide" %>
<% @edit_show = "" %>
<% @exp += 1 %>
<div id="hidden_work" style="display: none">
	<%= render 'resumes/work_experience_entry' %>
</div>
<% @show_show = "" %>
<% @edit_show = "hide" %>
<div class="row">
	<div class="column small-12">
		<a data-1="#hidden_work" class="button expand secondary hide_show">Add Position</a>
	</div>
</div>
<hr>

<!-- EDUCATION -->
<div class="row">
	<div class="column large-12">
		<h3>Education</h3>
	</div>
</div>
<% @edu = 0 %>
<%= render 'resumes/education_entry' %>
<% @show_show = "hide" %>
<% @edit_show = "" %>
<% @edu += 1 %>
<div id="hidden_edu" style="display: none">
	<%= render 'resumes/education_entry' %>
</div>
<% @show_show = "" %>
<% @edit_show = "hide" %>
<div class="row">
	<div class="column small-12">
		<div data-1="#hidden_edu" class="button expand secondary hide_show" id="add-education">
			Add Education
		</div>
	</div>
</div>
<hr>

<!-- SKILLS -->
<div class="row">
	<div class="column large-12">
		<h3>Skills</h3>
	</div>
</div>
<%= render 'resumes/skills_entry' %>

<hr/>

<!-- LANGUAGES -->
<div class="row">
	<div class="column large-12">
		<h3>Languages</h3>
	</div>
</div>
<%= render 'resumes/language_entry' %>

<hr/>

<!-- <div class="row">
	<div class="column large-12">
		<a href="#" class="button expand"> View Recommendations</a>
	</div>
</div> -->


