<% @work_add = "resumes/work_experience_entry" %>
<div class="row">
	<div class="column small-2 medium-1 right">
		<a data-equalizer-watch>
			<i class="fa fa-pencil fa-lg"></i>
		</a>
	</div>
	<div class="column small-10 medium-11">
		<h2>Paul Johnson</h2>
		<p>
			<strong>Assistant Project Manager</strong>
			<br/>
			Paul.Johnson@youremail.com 
			<br/>
			Atlanta, Ga. 30123
		</p>
	</div>
</div>

<%= render 'shared/resume_privacy' %>	
<hr/>

<!-- EXPERIENCE -->
<div class="row">
	<div class="column small-12">
		<h3>Work Experience</h3>
	</div>
</div>
<% @exp = 0 %>
<% 2.times do %>
	<%= render 'resumes/work_experience_entry' %>
	<% @exp += 1 %>
<% end %>
<% @show_show = "hide" %>
<% @edit_show = "" %>
<% @exp += 1 %>
<div id="hidden_work" style="display: none">
	<%= render 'resumes/work_experience_entry' %>
</div>
<% @show_show = "" %>
<% @edit_show = "hide" %>
<div class="row">
	<div class="column small-12">
		<a data-1="#hidden_work" class="button expand secondary hide_show">Add Position</a>
	</div>
</div>
<hr>

<!-- EDUCATION -->
<div class="row">
	<div class="column large-12">
		<h3>Education</h3>
	</div>
</div>
<% @edu = 0 %>
<%= render 'resumes/education_entry' %>
<% @show_show = "hide" %>
<% @edit_show = "" %>
<% @edu += 1 %>
<div id="hidden_edu" style="display: none">
	<%= render 'resumes/education_entry' %>
</div>
<% @show_show = "" %>
<% @edit_show = "hide" %>
<div class="row">
	<div class="column small-12">
		<div data-1="#hidden_edu" class="button expand secondary hide_show" id="add-education">
			Add Education
		</div>
	</div>
</div>
<hr>

<!-- SKILLS -->
<div class="row">
	<div class="column large-12">
		<h3>Skills</h3>
	</div>
</div>
<%= render 'resumes/skills_entry' %>

<hr/>

<!-- LANGUAGES -->
<div class="row">
	<div class="column large-12">
		<h3>Languages</h3>
	</div>
</div>
<%= render 'resumes/language_entry' %>

<hr/>

