
<div class="row" id="upload-form" data-equalizer>
	<div class="column small-12 large-6 text-center" >
		<div class="show-for-large-up" id="dropzone" >
			<%= form_tag(@path, method: "get", id: "demo-upload", class: "dropzone", :data => {:equalizer_watch => {}}) do %>
				<% if params[:controller] == "resumes" || params[:controller] == "home" %>
					<%= hidden_field_tag 'step', 'details' %>
				<% elsif params[:controller] == "apply" %>
					<%= hidden_field_tag 'step', 'upload' %>
					<%= hidden_field_tag 'resume', 'attached' %>
				<% end %>
				<div class="dz-message">
					<i class="fa fa-cloud-upload fa-4x"></i>
					<h2>DRAG &amp; DROP</h2>
					<h3 class="subheader">
						your file here or click to browse
					</h3>
					<h3>
						<small>
							We accept .DOCX, .DOC, .RTF, .TXT, .PDF up to 1 MB.
						</small>
					</h3>
					<div class="fallback">
						<input type="file" name="file" />
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="column small-12 large-6 text-center" data-equalizer-watch>
		<p class="show-for-large-up" id="double-bump">Additional upload options</p>
		<ul class="stack button-group">
			<li>
				<a href="#" data-reveal-id="copy-paste-modal" class="button expand">
					<i class="fa fa-clipboard fa-lg"></i>
					 Copy &amp; Paste Resume
				</a>
			</li>
			<li>
				<a href="" class="button expand hide-for-large-up">
					<i class="fa fa-file-word-o fa-lg"></i>
					 Browse for file
				</a>
			</li>
			<li>
				<a href="#" data-reveal-id="dropbox-modal" class="button expand">
					<i class="fa fa-dropbox fa-lg"></i>
					 Dropbox
				</a>
			</li>
			<li>
				<a href="#" data-reveal-id="drive-modal" class="button expand">
					<i class="fa fa-google fa-lg"></i>
					 Google Drive
				</a>
			</li>
			<li>
				<%= link_to url_for(step: "mobile-lead"), class: "button expand" do %>
					<i class="fa fa-file-text fa-lg"></i>
					  Create Resume
				<% end %>
			</li>
		</ul>
	</div>
</div>
<% if params[:resume] == "attached" %>
	<div class="row" id="attached" style="display: none;">
		<div class="column small-12">
			<div class="panel">
				RESUME NAME HERE
				<%= link_to url_for(resume: nil, step: "upload") do %>
					<i class="fa fa-close right"></i>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<!-- Modal-->
<div id="copy-paste-modal" class="reveal-modal large-6 small-12 medium-6" data-reveal>
	<h2>Copy &amp; Paste Resume</h2>
	<textarea placeholder=""></textarea>
	<% if params[:controller] == "resumes" %>
  	<%= link_to 'Continue', url_for(step: "details"), :onclick => "$('#drive-modal').foundation('reveal', 'close');", class: "button" %>
	<% elsif params[:controller] == "apply" %>
		<%= link_to 'Continue', url_for(step: "upload", resume: "attached"), :onclick => "$('#drive-modal').foundation('reveal', 'close');", class: "button" %>
	<% end %>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="dropbox-modal" class="reveal-modal" data-reveal>
  <h2>Dropbox File Picker Flow</h2>
  <p>The Dropbox file picker interface will be revealed. Documentation can be seen here</p>
  <p>
  	<a target="_blank" href="https://www.dropbox.com/developers/dropins/chooser/js">Dropbox Chooser</a>
  </p>
  <% if params[:controller] == "resumes" %>
  	<%= link_to 'Continue', url_for(step: "details"), :onclick => "$('#drive-modal').foundation('reveal', 'close');", class: "button" %>
	<% elsif params[:controller] == "apply" %>
		<%= link_to 'Continue', url_for(step: "upload", resume: "attached"), :onclick => "$('#drive-modal').foundation('reveal', 'close');", class: "button" %>
	<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="drive-modal" class="reveal-modal" data-reveal>
  <h2>Google Drive File Picker Flow</h2>
  <p>The Google Drive file picker interface will be revealed. Documentation can be seen here</p>
  <p><a target="_blank" href="https://developers.google.com/picker/">Google Drive Picker</a></p>
  <% if params[:controller] == "resumes" %>
  	<%= link_to 'Continue', url_for(step: "details"), :onclick => "$('#drive-modal').foundation('reveal', 'close');", class: "button" %>
	<% elsif params[:controller] == "apply" %>
		<%= link_to 'Continue', url_for(step: "upload", resume: "attached"), :onclick => "$('#drive-modal').foundation('reveal', 'close');", class: "button" %>
	<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>