<% @show_show ||= "" %>
<% @edit_show ||= "hide" %>
<div class="exp-show-<%= @exp %> <%= @show_show %>">
	<div class="row">
		<div class="column small-7 medium-9">
			<h2>Job Title</h2>
			<p>
				Company Name
				<br>
				April 2007 to Present
				<br/>
				$52,000 per year <i class="fa fa-circle fa-1" style="font-size: .25em;"></i> $8,000 bonus
			</p>
		</div>

		<div class="column small-5 medium-3">
			<ul class="inline-list right">
				
			 	<li>
				 	<a data-equalizer-watch onclick="$('.exp-show-<%= @exp %>').toggleClass('hide');$('.exp-edit-<%= @exp %>').toggleClass('hide');">
						<i class="fa fa-pencil fa-lg"></i>
					</a>
				</li>

			 	<li>
			 		<a data-equalizer-watch>
						<i class="fa fa-trash fa-lg"></i>
					</a>
			 	</li>
			</ul>
		</div>
		<div class="column small-12">
			<ul>
				<li>Reviewed architectural drawings and completed budget estimates with project manager.</li>
				<li>Organize job site personnel for on schedule completion of the project.</li>
				<li>Prepare closeout packages for the architect and engineer.</li>
				<li>Project, First Niagara Bank expansion.</li>
			</ul>
		</div>

		
	</div>
</div>
<div class="exp-edit-<%= @exp %> <%= @edit_show %>">
	<div class="row">
		<div class="column small-12">
			<label>Job Title
				<input type="text" placeholder="" value="" />
			</label>	
		</div>
	</div>
	<div class="row">
		<div class="column small-12">
			<label>Company
				<input type="text" placeholder="" value="" />
			</label>	
		</div>
	</div>
	<div class="row">
		<div class="column small-12">
			<label>Description
				<textarea type="text" placeholder="Tell us what you did each day at this job" value=""></textarea>
			</label>	
		</div>
	</div>
	<%= render 'shared/salary_job' %>
	<%= render 'shared/time_start_end_fields' %>
	<div class="row">
		<div class="column small-3 medium-2">
			<a onclick="$('.exp-show-<%= @exp %>').toggleClass('hide');$('.exp-edit-<%= @exp %>').toggleClass('hide');" class="button small">
				Save
			</a>
		</div>
		<div class="column small-9 medium-10">
			<a onclick="$('.exp-show-<%= @exp %>').toggleClass('hide');$('.exp-edit-<%= @exp %>').toggleClass('hide');" class="button small secondary">
				Cancel
			</a>
		</div>
	</div>
</div>