

<!-- Progress steps-->
<div class="row">
	<div class="column small-12 large-centered medium-centered">
		<ol class="progress_resume">
		  <li data-step="1">
		    Upload Resume
		  </li>
		  <li  data-step="2">
		    Add Details
		  </li>
		  <li class="is-active"  data-step="3" class="progress_resume_last">
		    Preview Resume
  		  </li>
		</ol>

	</div>
</div>

<!-- Progress steps End-->



<!-- Resume Preview-->

<div class="row">
<!-- TO DO: Remove inline style-->
<!--
	<div class="column large-4" style="border:1px solid #eee;"> 
		<div class="column large-10"><strong>Public Resume</strong> Visible to employers searching resumes.</div>
		<div class="column large-2">
			<div class="switch tiny round">
			  <input id="exampleCheckboxSwitch" type="checkbox">
			  <label for="exampleCheckboxSwitch"></label>
			</div>
		</div>
	</div>-->


	<div class="column large-8 large-centered" style="border:1px solid #eee; padding:20px;"> <!-- TO DO: Remove inline style-->

		<div class="row">
			<div class="column large-6">
				<label>First Name
			        <input type="text" placeholder="" value="Paul" />
			     </label>
			</div>
			<!-- Field Ends-->
			<div class="column large-6">
				<label>Last Name 
			        <input type="text" placeholder="" value="Johnson" />
			     </label>

			</div>
			<!-- Field Ends-->
		</div>

		<div class="row">
			<div class="column small-12">
				<label>Desired Job Title
			        <input type="text" placeholder="" value="Assistant Project Manager " />
			     </label>
			     <h5><small>Describe yourself in a few words. Ex. Entrepreneur, Marketing Guru, Student.</small></h5>
			     
			</div>
		</div>
		<!-- Field Ends-->
		<div class="row">
			<div class="column small-12">
				<label>Email Address
			        <input type="text" placeholder="" value="Paul.Johnson@youremail.com" />
			     </label>

			</div>
		</div>
			<!-- Field Ends-->
	<div class="row">
		<div class="column small-12">
			<label>City, State and Zipcode
			  <input type="text" placeholder="" value="Atlanta, Ga. 30123" />
			</label>

			</div>
	</div>
	<!-- End contact area-->

<%= render 'resumes/edit_save_buttons' %>
		<HR/>
		
<%= render 'resumes/edit_work' %>
		
<%= render 'resumes/time_start_end_fields' %>

		
<!-- End Work Exp-->
	<%= render 'resumes/edit_save_buttons' %>
		<hr/>

		<div class="row">
			<div class="column small-12">
				<h4>Education</h4>
			</div>
		</div>

<!-- End Section Title-->

		<div class="row">
			<div class="column small-12">
				<label>School
			        <input type="text" placeholder="" value="UGA" />
			     </label>
			</div>
		</div>


		<div class="row">
			<div class="column small-12">
				<label>Degree
			        <input type="text" placeholder="" value="Bachelor of Arts in Environmental Design" />
			     </label>
			</div>
		</div>

		
			
			<div class="row">
				<div class="column small-12"><label>Graduation Date  </label> </div>

			      <div class="column small-3">
			      						<select>
								<option value="husker">Jan</option>
								<option value="starbuck">Feb</option>
								<option value="hotdog">March</option>
								<option value="apollo">April</option>
							</select>	
					</div>
					
						<!-- End Month-->
					
						<div class="column small-3">
							<input type="text" placeholder="Year" value="" />

						</div>
						<!-- End Year-->
				<div class="column small-12">
				  	<h5><small>Current students: Enter expected graudation date.</small></h5>
				</div>
			 </div>

	<%= render 'resumes/edit_save_buttons' %>

			<HR/>
			<!-- End EDU 1 area-->

		

		<div class="row">
			<div class="column small-12">
				<h4>Skills</h4>
			</div>
		</div>

<!-- End Section Title-->

 <div class="row">
    <div class="small-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Area of expertise">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Add</a>
        </div>
      </div>
    </div>
  </div>

		<div class="row">
			<div class="column large-12">
				<ul class="tags green">
				    <li><a href="#">Interface <span>4</span></a></li>
				    <li><a href="#">Icon <span>8</span></a></li>
				    <li><a href="#">Typography <span>15</span></a></li>
				    <li><a href="#">Color <span>16</span></a></li>
				 
				    <li><a href="#">Design <span>23</span></a></li>
				    <li><a href="#">Illustration <span>42</span></a></li>
				    <li><a href="#">Component <span>108</span></a></li>
				    <li><a href="#">Misc <span>12</span></a></li>
			  
			    <li><a href="#">Infrastructure <span>31</span></a></li>
			    <li><a href="#">Application <span>33</span></a></li>
			    <li><a href="#">Mobile <span>65</span></a></li>
			    <li><a href="#">Desktop <span>160</span></a></li>
			  </ul>

			</div>
				
		</div>


	<%= render 'resumes/edit_save_buttons' %>
			<HR/>
			<!-- End EDU 1 area-->

		
		<div class="row">
			<div class="column small-12">
				<h4>Languages</h4>
			</div>
		</div>

<!-- End Section Title-->
<div class="row">
	<div class="column small-8">
		<label>
			<input type="text" placeholder="Type Language from list"/>

		</label>	
	</div>
</div>
		<div class="row">
			<div class="column small-4">
				<select>
					<option value="husker">Spanish</option>
					<option value="husker">French</option>		
				</select>
			</div>
				
			<div class="column small-6">
				<select>
					<option value="husker">Select Fluency</option>
					<option value="husker">Beginner</option>
					<option value="starbuck">Expert</option>
							
				</select>	
			</div>

			<div class="column small-2">
				<a href="#">&times;</a>	
			</div>
		</div>

		<!-- lANGUAGE 1-->

		<div class="row">
			<div class="column small-4">
				<select>
					<option value="husker">Spanish</option>
					<option value="husker">French</option>		
				</select>
			</div>
				
			<div class="column small-6">
				<select>
					<option value="husker">Select Fluency</option>
					<option value="husker">Beginner</option>
					<option value="starbuck">Expert</option>
							
				</select>	
			</div>

			<div class="column small-2">
				<a href="#">&times;</a>	
			</div>
		</div>

		<%= render 'resumes/edit_save_buttons' %>

			<HR/>
			<!-- End EDU 1 area-->


		
	</div>

	<div class="row">
			<div class="column large-8 large-centered">
				<div class="button expand">View Recomendations</div>
			</div>
		</div>

		<!-- Add Section button ends-->
	
</div>