<% @sign_up_type = "post" %>

<% if params[:step] == "upload" %>
	<% @step_one_active = "is-active" %>
	<%= render 'resume_upload_steps' %>
	<div class="row">
		<div class="column small-12 medium-9 medium-centered">
			<%= render 'upload_resume' %>
			<br>
		</div>
	</div>

<% elsif params[:step] == "details" %>
	<% @step_two_active = "is-active" %>
	<%= render 'resume_upload_steps' %>
	<%= render 'add_details' %>
<% elsif params[:step] == "mobile-lead" %>
	<%= render 'apply/mobile_lead' %>
<% elsif params[:step] == "mobile-lead-work" %>
	<%= render 'apply/mobile_lead_work' %>
<% elsif params[:step] == "mobile-lead-edu" %>
	<%= render 'apply/mobile_lead_edu' %>
<% elsif params[:step] == "mobile-lead-preview" %>
	<%= render 'apply/mobile_lead_preview' %>
<% elsif params[:step] == "review" %>
	<% @step_three_active = "is-active" %>
	<% params[:message] = "true" %>
	<% params[:auth] = "authenticated" %>
	<% @resume_count = session[:resumes] %>
	<% @resume_count.to_i += 1 %>
	<% session[:resumes] = @resume_count %>
	<% @message_message = "We have automatically converted your document to an Resume Profile. Review to make sure everything is correct." %>
	<%= render 'resume_upload_steps' %>
	<div class="row">
		<div class="column large-9 large-centered">
			<%= render 'resume_preview' %>
		</div>
	</div>

<% else %>
	<% params[:message] = "true" %>
	<% @message_message = "You must be signed in or create an account to post and manage resumes" %>
	<%= render 'user/sign_in_form_new' %>
<% end %>