<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GRRP Interaction Prototype" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<% if params[:debug] == "true" %>
  		<%= render 'shared/debug_menu_open' %>
  	<% end %>
  	<%= render 'shared/global_alerts' %>
  	<% if params[:signed_out] == 'true' %>
  		<div data-alert class="alert-box success">
  			<div class="row">
					<div class="column small-12 medium-12 large-12">
			 			You have successfully signed out. 
			  		<a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>
		<% end %>
  	<%= render 'shared/global_header' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>

    <footer class=<%= @footer_bar %>>
    	<div class="help-center">
	    	<div class="row help-center">
	    		<div class="column small-12 text-center">
	    			<h5>Help Center</h5>
	    		</div>
	    	</div>
	    </div>
    	<div class="row">
    		<div class="column small-12">
    			<ul class="large-block-grid-5">
    				<li>
    					<b>Job Seeker</b>
    					<ul class="no-bullet">
    						<li>Find Jobs
								<li>Top Categories</li>
								<li>Top locations</li>
								<li>Top-Term</li>
								<li>Partner Network</li>
								<li>Career Advice</li>
								<li>Site</li>
							</ul>
						</li>
						<li>
    					<b>Employer</b>
    					<ul class="no-bullet">
								<li>Search Resumes</li>
								<li>Jobs Items</li>
								<li>Talent Networks</li>
								<li>Advertising</li>
								<li>Our Network</li>
							</ul>
						</li>
						<li>
    					<b>Social</b>
    					<ul class="no-bullet">
								<li>Facebook</li>
								<li>Google</li>
							</ul>
							<br>
							<b>Legal</b>
    					<ul class="no-bullet">
								<li>Fraud</li>
								<li>Privacy Policy</li>
							</ul>
						</li>
						<li>
    					<b>Careerbuilder</b>
    					<ul class="no-bullet">
    						<li>About Us</li>
								<li>Work at CareerBuilder</li>
								<li><br></li>
								<li>200 N. LaSalle St</li>
								<li>Suite 1100</li>
								<li>Chicago, IL 60601</li>
							</ul>
						</li>
						<li>
    					<b>Language</b>
    					<select>
    						<option value="english">English</option>
    						<option value="spanish">Spanish</option>
    					</select>
						</li>
					</ul>
				</div>
			</div>
		</footer>
		<%= render 'shared/debug_menu_close' %>
  </body>
</html>