<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GRRP Interaction Prototype" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<% if session[:debug] == "true" %>
  		<%= render 'shared/debug_menu_open' %>
  	<% end %>
  	<%= render 'shared/global_alerts' %>
  	<% if params[:signed_out] == 'true' %>
  		<div data-alert class="alert-box success">
  			<div class="row">
					<div class="column small-12 medium-12 large-12">
			 			You have successfully signed out. 
			  		<a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>
		<% end %>
  	<%= render 'shared/global_header' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  	<%= render 'shared/footer' %>
		<%= render 'shared/debug_menu_close' %>
  </body>
</html>