<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<% if params[:message] == 'true' %>
  		<div data-alert class="alert-box true">
  			<div class="row">
					<div class="column small-12 medium-12 large-12">
						message here
					</div>
				</div>
			</div>
		<% end %>
  	<% if params[:signed_out] == 'true' %>
  		<div data-alert class="alert-box success">
  			<div class="row">
					<div class="column small-12 medium-12 large-12">
			 			You have successfully signed out. 
			  		<a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>
		<% end %>
  	<nav class=<%= @nav_bar %>>
  		<div class="row">
  			<div class="column small-12">
		  		<div class="top-bar" data-topbar role="navigation">
					  <ul class="title-area">
					    <li class="name">
					      <h1><%= link_to "Careerbuilder", root_path %></h1>
					    </li>
					    
					     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					    <li class="toggle-topbar right">
					    	<a href="#">
					    		<span>Menu</span>
					    	</a>
					    </li>
					    <li class="toggle-topbar-2 right">
					    	<a href="#" id="search-toggle-button" onclick="toggle_visibility('search-toggle-button','search-toggle');">
					    		<span>Search</span>
					    	</a>
					    </li>
					  </ul>

					  <section class="top-bar-section">
					    <!-- Right Nav Section -->
					    <ul class="right">
					    	<% if @auth == "unknown" %>
					      	<li class=""><%= link_to "Sign In", sign_in_path %></li>
					      <% elsif @auth == "known" %>
					      	<li class=""><%= link_to "Sign In", sign_in_path %></li>
					      <% elsif @auth == "authenticated" %>
					      	<li class="has-dropdown">
					      		<%= link_to "Hi, James" %>
					      		<ul class="dropdown">
					      			<li><%= link_to "My Account", account_path %></li>
					      			<li><%= link_to "Sign Out", root_path(params.merge({:auth => "known"}).except(:action, :controller)) %></li>
					      		</ul>
					      	</li>
					      <% end %>
					      <li class="show-for-large-up"><a href="#">Employers</a></li>
					    </ul>

					    <!-- Left Nav Section -->
					    <ul class="left">
					      <li><%= link_to "My Careerbuilder", root_path %></li>
					      <li><%= link_to "Find Jobs", jobs_path %></li>
					      <li><%= link_to "Recommendations", recommendations_path %></li>
					      <li><%= link_to "Resumes", resumes_path %></li>
					    <!-- Removed Resources for Now
					      <li><a href="#">Resources</a></li>
					    -->
					    </ul>
					  </section>
					</div>
				</div>
			</div>
		</nav>
		<section class="global-search <%= @search_bar %>" id="search-toggle">
      <div class="row">
      	<div class="medium-4 medium-offset-1 small-12 columns">
      		<label>Keyword
      			<input type="text" placeholder="" />
    			</label>
      	</div>
      	<div class="medium-4 small-12 columns">
      		<label>Location
      			<input type="text" placeholder="" />
    			</label>
      	</div>
      	<div class="medium-2 small-12 columns end">
      		<a class="button postfix">Search</a>
      	</div>
      </div>
    </section>	

    <%= yield %>
    <%= javascript_include_tag "application" %>

    <footer class=<%= @footer_bar %>>
    	<div class="help-center">
	    	<div class="row help-center">
	    		<div class="column small-12 text-center">
	    			<h5>Help Center</h5>
	    		</div>
	    	</div>
	    </div>
    	<div class="row">
    		<div class="column small-12">
    			<ul class="large-block-grid-5">
    				<li>
    					<b>Job Seeker</b>
    					<ul class="no-bullet">
    						<li>Find Jobs
								<li>Top Categories</li>
								<li>Top locations</li>
								<li>Top-Term</li>
								<li>Partner Network</li>
								<li>Career Advice</li>
								<li>Site</li>
							</ul>
						</li>
						<li>
    					<b>Employer</b>
    					<ul class="no-bullet">
								<li>Search Resumes</li>
								<li>Jobs Items</li>
								<li>Talent Networks</li>
								<li>Advertising</li>
								<li>Our Network</li>
							</ul>
						</li>
						<li>
    					<b>Social</b>
    					<ul class="no-bullet">
								<li>Facebook</li>
								<li>Google</li>
							</ul>
							<br>
							<b>Legal</b>
    					<ul class="no-bullet">
								<li>Fraud</li>
								<li>Privacy Policy</li>
							</ul>
						</li>
						<li>
    					<b>Careerbuilder</b>
    					<ul class="no-bullet">
    						<li>About Us</li>
								<li>Work at CareerBuilder</li>
								<li><br></li>
								<li>200 N. LaSalle St</li>
								<li>Suite 1100</li>
								<li>Chicago, IL 60601</li>
							</ul>
						</li>
						<li>
    					<b>Language</b>
    					<select>
    						<option value="english">English</option>
    						<option value="spanish">Spanish</option>
    					</select>
						</li>
					</ul>
				</div>
			</div>
		</footer>
  </body>
</html>